#academy.square
  include _header
    li.pull-right
      include _sidebar

  #academy_c.contain
    h1.intro Rafi 
      span.khan Khan
      |  for Khan Academy
    p Hello! I'm Rafi, a sophomore at Yale pursuing a B.S. in Computer Science. I've been making web apps for years, making some people's lives a bit easier (or at least more entertaining). While it's fun to build on my own, creating my own projects and teaching myself, I'm ready to move onto something bigger. 
    p.centered Something like Khan Academy.
    .acad_section
      .text
        p I want to be involved because I think K.A. is making the biggest splashes in reforming education by using technology. I believe that the way we teach in schools needs to change fundamentally, and incorporating some savvy software shouldn't be out of the question. Whereas some companies are satisfied with just offering open online courses, I admire that Khan Academy is building an infrastructure for use within the classroom to define a new style of education. 
      .img
        img(src="/images/academy/kalogo.png", style="margin-top: 25px;")
    .acad_section
      .img
        img(src="/images/portfolio/hackyale_ss.png", style="border: 1pt solid #ccc; margin-top: 20px;")
      .space
      .text
        p I want to be a part of that! I've been teaching or tutoring in some form or other for almost a decade. I realize the power of knowledge, and I love to spread it; I think that true mastery of a subject means that I can explain it flawlessly to a 10 year old. I also know what it's like to be hungry to learn, and want to satiate that hunger for anyone with Internet access.
        p At school, I'm part of 
          a(href="//hackyale.com", target="_blank") HackYale
          | , a student organization which offers free programming classes for anyone on campus. This year, I taught the inaugural Summer session (a course in HTML, CSS and Javascript) and continue to teach it during the school year. HackYale also offers smaller, one-time workshops on topics ranging from UX design to building a Node.js app. This semester, I taught one on getting started with Twitter Bootstrap.
    p.centered If it's not obvious yet, I love to code and teach.
    p Even when I'm out being social, there's always a background process running in my head thinking about how to improve a project I'm working on. I've put up some cool open source stuff recently: click on the links to go directly to them, or read about them more on my 
      a(href="/portfolio") portfolio
      |  page. All the code is on my 
      a(href="https://github.com/rafi-khan", target="_blank") Github
      | .
    .acad_showcase
      .third
        .acad_caption 
          a(href="http://www.gakko2013.com/", target="_blank") Gakko 
          |  (Position: Web Director)
        img(src="/images/portfolio/gakko.png", style="border: 1pt solid #bbb;")
      .third
        .acad_caption
          a(href="http://screwmeyale.com", target="_blank") Screw Me Yale
          |  (a demo for non-Yalies 
          a(href="http://demo.screwmeyale.com", target="_blank") here
          | )
        img(src="/images/portfolio/screw.png")
      .third
        .acad_caption 
          a.soundulous-video(href="http://www.youtube.com/watch?v=tJFCxC0x_oE", title="Soundulous demo") Soundulous
          | , a music visualizer
        img(src="/images/portfolio/soundulous.jpg")
    p.centered(style="font-size: 150%; margin-top: 50px;") To sign off, 
      a(href="http://www.ted.com/talks/benjamin_zander_on_music_and_passion.html", target="_blank") my favorite TED talk!
      |  (Salman's is up there, too)
        
