#academy.square
  include _header
    li.pull-right
      include _sidebar

  #academy_c.contain
    h1.intro Rafi 
      span.khan Khan
      |  for Khan Academy
    p Hello! I'm Rafi, currently a sophomore at Yale pursuing a B.S. in Computer Science. I feel as though I've spent a great deal of time over the past few years learning—which is great—but I now I'm yearning to apply that knowledge to something meaningful.
    p.centered Something like Khan Academy.
    .acad_section
      .text
        p I want to help because I think K.A. is making the biggest splashes in reforming education by using technology. I believe that the way we teach in schools needs to change fundamentally, and not just by offering open courses online. 
      .img
        img(src="/images/academy/kalogo.png")
    .acad_section
      .img
        img(src="/images/portfolio/hackyale_ss.png", style="border: 1pt solid #ccc;")
      .space
      .text
        p That's where I come in. I've been teaching or tutoring in some form for almost a decade. I realize the power of knowledge, and love to spread it; I don't think that I've learned anything compeletely until I can explain it to a 10 year old. 
        p At school, I'm part of 
          a(href="//hackyale.com", target="_blank") HackYale
          | , a student organization which offers free programming classes for anyone on campus. This year, I taught the inaugural Summer session (a course in HTML, CSS and Javascript) and continue to teach it during the school year. HackYale also offers smaller, one-time workshops on topics ranging from UX design to building a Node.js app. This semester, I taught one on getting started with Twitter Bootstrap.
    p.centered If it's not obvious yet, I love to code and teach.
    p Even when I'm out being social, there's always a background process running in my head thinking about how to improve a project I'm working on. I've put up some cool open source stuff recently: click on the links to go directly to them, or read about them more on my 
      a(href="/portfolio") portfolio
      |  page. All the code is on my 
      a(href="https://github.com/rafi-khan", target="_blank") Github
      | .
    .acad_showcase
      .third
        .acad_caption 
          a(href="http://www.gakko2013.com/", target="_blank") Gakko 
          |  (I'm web director)
        img(src="/images/portfolio/gakko.png")
      .third
        .acad_caption
          a(href="http://screwmeyale.com", target="_blank") Screw Me Yale
          |  (and a 
          a(href="http://demo.screwmeyale.com", target="_blank") demo
          |  for non-Yalies)
        img(src="/images/portfolio/screw.png")
      .third
        .acad_caption 
          a.soundulous-video(href="http://www.youtube.com/watch?v=tJFCxC0x_oE", title="Soundulous demo") Soudulous
          | , a music visualizer
        img(src="/images/portfolio/soundulous.jpg")
    p.centered(style="font-size: 200%; margin-top: 50px;") Thanks for reading—let's be in touch!
        
