#academy.square
  include _header
    li.pull-right
      include _sidebar

  #academy_c.contain
    h1.intro Rafi Khan for Khan Academy
    .left
      p Hello! I'm Rafi, currently a sophomore at Yale pursuing a B.S. in Computer Science. I feel as though I've spent a great deal of time over the past few years learning—which is great—but I now I'm yearning to apply that knowledge to something meaningful.
      p Something like Khan Academy.