include entries/26-7.jade
include entries/23-7.jade
include entries/21-7.jade
include entries/20-7.jade
include entries/16-7.jade
include entries/13-7.jade
include entries/10-7.jade
include entries/6-7.jade
include entries/4-7.jade
include entries/3-7.jade
include entries/2-7.jade
include entries/30-6.jade
include entries/28-6.jade
include entries/27-6.jade
include entries/26-6.jade
include entries/25-6.jade
include entries/24-6.jade