#blog.square
  include _header

  #blog_c.contain 
    .top
      h1.italiano(style="width: 55%; display: inline-block;")
        span.i-green Un'est
        span.i-white ate a 
        span.i-red Siena
      h1.english(style="width: 55%; display: inline-block;")
        span.i-green A summ
        span.i-white er in 
        span.i-red Siena
      p(style="width: 55%; display: inline-block; color: black; line-height: 16px; font-size: 13px;") A blog about my summer abroad learning Italian, chillin drinking wine and living the good life in Tuscany, June-July 2012
      #translate
        span.btn#to-italiano Italiano

        span.btn#to-english ENGLISH 
      .notice I apologize -- my English is poor because my Italian is poor :-/

    #blog-entries
    





