#christina.square
  ul.nav_bar
    li.nav_button.index(target='about') ^.^ Home

  #christina_c.contain
    h1 Hey Christina!
    p So...you know I feel really bad about your injury, which may or may not be 95% my fault. To make up for it, I did what I know how to do best &#9786
    h3.center Some things that might cheer you up!
    p.center
      a(href="http://cuteboyswithcats.net/", target="_blank") Cats and boys, boys, boys (click)
    p.center (Hopefully) good memories:
    iframe(src='http://www.youtube.com/embed/F6ImxY6hnfA', frameborder='0', allowfullscreen='allowfullscreen')
    iframe(src='http://www.youtube.com/embed/8UVNT4wvIGY', frameborder='0', allowfullscreen='allowfullscreen')

    br
    br
    p Yay cheesy pictures!
    br
    .column
      img(src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-prn1/524175_10151098899774612_626680229_n.jpg")
      img(src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/403966_3412808290289_1860777506_n.jpg")
      img(src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/582686_10151081148254612_764560767_n.jpg")

    .column
      img(src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/547982_10151081052529612_236034289_n.jpg")
      img(src="http://www.annaershova.com/blog/wp-content/uploads/2008/04/100_0507a.jpg")
      img(src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/314791_10151100478969612_2044418441_n.jpg")


    .column
      img(src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/556168_10151048299386495_257358818_n.jpg")
      img(src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/523506_10151099015209612_1494116417_n.jpg")

    img(src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/406245_10151100505939612_308510819_n.jpg", width="100%")
    br
    br
    h3.center And per Laura's suggestion:
    br
    iframe(width='900px', height='700px', src='http://www.youtube.com/embed/J_YEV9CLz_U', frameborder='0', allowfullscreen='allowfullscreen', style='margin: 0 auto; width: 100%; height: 600px;')


    h1.center Feel better soon!! &hearts;




      


    
    
