.footer rafikhan.me runs Node.js with Express and jQuery. 
  br
  | Bhangra photo courtesy of Clyatt Jasper, Columbia University. 
  br
  | Chicago photo courtesy of Sarah Husain. 
  br
  | All other content &#169; Rafi Khan 2013. 
  a(href='http://github.com/rafi-khan/fk', style='text-decoration: underline', target='_blank') Source
