.footer 
  | Bhangra photo on Life page courtesy of Clyatt Jasper, Columbia University. 
  br.no-desktop
  | Chicago photo on home page courtesy of Sarah Husain. 
  br
  | All other content &copy; Rafi Khan 2013. 
  br.no-desktop
  | rafi.me runs Node.js with Express and jQuery. 
  a(href='http://github.com/rafi-khan/fk', style='text-decoration: underline', target='_blank') Source
