#play.square
  ul.nav_bar
    li.nav_button.index(target='about') ^.^ Home
    li.nav_button.work(target='work') > Projects
    li.nav_button.play.selected(target='fun') Life
  #play_c.contain 
    p.crimson I'm still sorting my life out...check back later!

  .footer faiazkhan.com runs Node.js with Express, Jade and jQuery. Bhangra photo courtesy of Clyatt Jasper, Columbia University. 
    br 
    | Chicago photo courtesy of Sarah Husain. &#169; Faiaz Khan 2012. 
    a(href='http://github.com/rafi-khan/fk', style='text-decoration: underline', target='_blank') Source