#play.square
  ul.nav_bar
    li.nav_button.index(target='about') ^.^ Home
    li.nav_button.work(target='work') > Projects
    li.nav_button.play.selected(target='fun') Life
  #play_c.contain 
    p.crimson I'm still sorting my life out...check back later!