ul#sidebar
  li Rafi Khan &nbsp; | &nbsp; Comp Sci : Yale '15 
  li(target='twitter.com/fizzycan')
    a(href='http://twitter.com/fizzycan', target='_blank')
      #tw_icon.icon(target='@fizzycan')
  li(target='LinkedIn')
    a(href='http://www.linkedin.com/pub/faiaz-khan/48/445/52', target='_blank')
      #in_icon.icon(target='http://www.linkedin.com/pub/faiaz-khan/48/445/52')
  li(target='Github')
    a(href='http://www.github.com/rafi-khan', target='_blank')
      #git_icon.icon(target='http://www.github.com/rafi-khan')



//-
  li(target='facebook.com/ <br/> faiaz.khan')
    a(href='http://facebook.com/faiaz.khan', target='_blank')
      #fb_icon.icon
  li
    #me_icon.icon