#site
  #nameplate
    a(href='http://www.faiazkhan.com', style='color:white')
      span.crimson F
      |aiaz
      br/
      span.crimson &nbsp;&nbsp;K
      |han
  .link.i(target='facebook.com/ <br/> faiaz.khan', style='display:inline-block')
    a(href='http://facebook.com/faiaz.khan', target='_blank')
      #fb_icon.icon
  .link.i(target='twitter.com/fizzycan', style='display:inline-block')
    a(href='http://twitter.com/fizzycan', target='_blank')
      #tw_icon.icon(target='@fizzycan')
  .link.i(target='faiaz.khan@yale.edu', style='display:inline-block')
    a(href='mailto:faiaz.khan@yale.edu')
      #mail_icon.icon(target='faiaz.khan@yale.edu')
  .link.title(target='about', style='color:deepskyblue; text-decoration: underline') Site info
  #about.link faiazkhan.com runs Node.js with Express and Jade.<br/>Server-side code is written in jQuery.<br>&#169; Faiaz Khan 2012.<br/>Bhangra photo courtesy of Clyatt Jasper, Columbia University 