#info.link
  #info_cont Dancer, soccer player, appreciator of fine wit
.link.title(target='bows', style='color:gold') Platforms
#bows.link.hidden
  .i(target='hi!!') This works :)
#arrows.link.hidden
  .i(target="This site's backbone") jQuery/JS
  .i(target="Working on that C++...") C
  .i(target="&#060;body style=<br/> &nbsp;&nbsp;'position: fixed'>") HTML/CSS
  .i(target='To improve the Galaxy!') 
    a(href="http://main.g2.bx.psu.edu/", style="color: navajowhite") Python
  .i(target='My first \'Hello World!\\n\'') Java
  .i(target='$ \\lim_{u\\to c} <br/>&nbsp;&nbsp;&nbsp;\\int e^x = 0 $') LaTeX
  .i(target='Statistically, the best') R
  .i(target='InDesign, Photoshop. Thanks Wayne Brasler!') Adobe
  .i(target='The iWorks.') Microsoft