#note1_container
  audio#note1(src='/tones/#{one}.mp3', controls, autoplay, preload="auto")
#note2_container
  audio#note2(src='/tones/#{two}.mp3', controls, autoplay, preload="auto")
input#diff(type='hidden', value='#{diff}');