<div id="fb-root"></div><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=196239823792948";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

#index.square
  #index_c.contain
    noscript 
      h1 Please 
        a(href='http://support.google.com/bin/answer.py?hl=en&answer=23852', style='color: navajowhite;') enable JavaScript!
    .big(style="margin-bottom: 50px;") My friends call me 
      b.crimson.rafi Rafi
    .nav_button.big.blue.work(target='work') > Portfolio
    .nav_button.big.blue.play(target='fun') > The Life
    
include _work
include _play

<script type="text/javascript">var _gauges = _gauges || [];(function() {var t   = document.createElement('script');t.type  = 'text/javascript';t.async = true;t.id    = 'gauges-tracker';t.setAttribute('data-site-id', '4f1de17ef5a1f52188000004');t.src = '//secure.gaug.es/track.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t, s);})();</script>