<div id="fb-root"></div><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=196239823792948";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

h1#emergency Please refresh the page
#index.square
  #index_c.contain
    noscript 
      h1 Please 
        a(href='http://support.google.com/bin/answer.py?hl=en&answer=23852', style='color: navajowhite;') enable JavaScript!
    .big(style="margin-bottom: 50px;") Hi. I'm 
      strong.rafi(style="font-weight: bold;") Rafi
    .nav_button.no-shadow.js-nav.big.blue.work(target='work') > Portfolio
    .nav_button.no-shadow.js-nav.big.blue.play(target='fun') > The Life
    .nav_button.no-shadow.js-nav.big.blue.blog(target='blog') > Un'estate in Italia
    .nav_button.no-shadow.js-nav.big.blue.academy(target='academy') > Khan Academy

    
include _work
include _play
include _blog
include _academy
include _christina
