!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style_small.css')
    link(rel='icon', href='/images/r2.ico')
    link(href='http://fonts.googleapis.com/css?family=Iceland|Quantico|Ropa+Sans|Gudea|Asap|Asul|Droid+Sans+Mono|Open+Sans|Josefin+Slab|Lato|Mako|Glegoo|Nixie+One', rel='stylesheet', type='text/css')

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/colorPlugin.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
    script(type='text/javascript', src='javascripts/main.js')
    
  body!=body
