!!! 5
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--><html xmlns:fb="http://ogp.me/ns/fb#"><!--<![endif]-->
head
  title= title
  meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no,target-densitydpi=device-dpi")
  meta(name="description", content="#yolo")
  meta(name="keywords", content="programmer, design, web, development, Faiaz, Khan, Rafi")

  link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/stylesheets/reset.css')
  block styles
    link(rel='stylesheet', href='/style.css')
  link(rel='icon', href='/images/r2.ico')

  script(type="text/javascript").
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30460047-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

body
  != body
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  block scripts
    script(type='text/javascript', src='/javascripts/main.js')

</html>
