!!! 5
html
  head
    title= title
    link(rel='icon', href='/images/2favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Iceland|Quantico', rel='stylesheet', type='text/css')
    link(href='/stylesheets/notes.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/colorPlugin.js')
    script(type='text/javascript', src='/javascripts/notes.js')
    
  body!=body
