extends layout

block content
  #play.square
    include _header

    #play_c.contain 
      .play_deck
        ul
          li.play_item(target='bhangra') Bhangra
          li.play_item(target='tedx') TedxYale
          li.play_item(target='booty') Pirates' Booty
          li.play_item(target='pokemon') Pokemon

      .play_content.hidden
        .play_close &times;
        .play_frame(target='bhangra').hide
          h1 Bhangra!
          p Bhangra is upbeat, festive dance from the Punjab region of India:
          img.half(src="/images/life/punjab.png")
          p I started dancing my freshman year at Yale, travelling with the team to performances in Rochester, NY, Cornell University, Columbia University and Ann Arbor, Michigan.
          p Check out my team, Yale Jashan Bhangra, at 
            a(href="http://yale.edu/bhangra", target="_blank") yale.edu/bhangra
            |  or watch the videos below!
          iframe.youtube(width="560",height="315",src="http://www.youtube.com/embed/TMHTJ8Y3i3g?start=59",frameborder="0",allowfullscreen)

        .play_frame(target='tedx').hide
          h1 TedxYale
          p Tedx are independently organized TED events. At TedxYale, we host several salons (one-speaker events) and conferences each year, capstoned by our main event in February.
          p In 2013, our theme is 
            b TedxYale: Solve for Y. 
            | How provocative!
          p For more info, visit 
            a(href="http://tedxyale.com", target="_blank") tedxyale.com
            | !
          br/
          p As a teaser, here's a potential talk, beautifully given by my roommate, DJ Stanfill, on Storytelling through music.
          iframe.youtube(width="560",height="315",src="http://www.youtube.com/embed/YgS48wEbSgc?rel=0&showinfo=0",frameborder="0",allowfullscreen)

        .play_frame(target='booty').hide
          h1 The Pirates' Booty
          p "The Pirates' Booty" is a punny name given to the student restaurant, otherwise known as the buttery, in Pierson College (my residential college at Yale). The title makes sense because our maskot is a Pirate and we loove to plunder for booty.
          p Kind of.
          p Anyway, as manager in 2012-2013, I revamped the menu and added some much-needed spice—and health. The menu, concocted with the ever-popular cop-out 
            a(href="http://twitter.github.com/bootstrap/index.html", target="_blank") Twitter Bootstrap
            | , follows:
          img(src="/images/life/menu.png")
          p(style="text-align:center; font-size: 150%;")
            b Yumm!

        .play_frame(target='pokemon').hide
          h1 Pokemon
          p Pocket Monsters will always hold a special place in my heart; my childhood was literally devoured by them. Well, not literally literally, but I did log thousands of hours on various Pokemon Gameboy games, collected da cards, and learned to draw by tracing those cards out on paper.
          p I wasn't the biggest fan, certainly, but I was obsessed.
          p On a more grown-up note, the spirit behind Pokemon—breathing life and imagination into ordinary things—is one I admire and always try to emulate. 

    include _footer
