.entry
  .left.italiano
    h1 10 - 11 / 7
      span.title — il Duomo
    p English versions are up! Many more pictures on 
      a(href="http://facebook.com", target="_blank") Facebook
      |.
  .left.english
    h1 7 / 10 - 11
      span.title — the Church
    p Today we had a tour of the religious center of Siena, this enormous, grand church at the very center of town, simply called il Duomo. Inside, it featured 500 year-old sculptures, paintings and alters, all loaded with history (I may or may not have been paying attention when our teacher was talking about this). Though I didn’t find it as interesting as some might have, it was breathtaking to stand somewhere that was of such importance to so many people for so long. Like for Cinque Terre, the pictures only show about 10% of the magnificence. At the end, we climbed up one of the towers to a balcony and could see the entire city!
  .right

    a.fancybox-thumb(rel='10-7', href='/images/italia/10-7/IMG_0161.JPG', title='The Duomo from the outside. Its huge!')
      img.tile(src='/images/italia/10-7/IMG_0161.JPG')

    a.fancybox-thumb.hide(rel='10-7', href='/images/italia/10-7/IMG_0162.JPG', title='The animals of all the cities painted on the floor')
      img.tile(src='/images/italia/10-7/IMG_0162.JPG')

    a.fancybox-thumb.hide(rel='10-7', href='/images/italia/10-7/IMG_0163.jpg', title='Michaelangelo carved into the wall')
      img.tile(src='/images/italia/10-7/IMG_0163.jpg')

    a.fancybox-thumb.hide(rel='10-7', href='/images/italia/10-7/IMG_0164.jpg', title='Amazing ceiling')
      img.tile(src='/images/italia/10-7/IMG_0164.jpg')

    a.fancybox-thumb.hide(rel='10-7', href='/images/italia/10-7/IMG_0165.JPG', title='These paintings are more than 500 years old! They were restored five years ago.')
      img.tile(src='/images/italia/10-7/IMG_0165.JPG')

    a.fancybox-thumb.hide(rel='10-7', href='/images/italia/10-7/IMG_0166.jpg', title='')
      img.tile(src='/images/italia/10-7/IMG_0166.jpg')

    a.fancybox-thumb.hide(rel='10-7', href='/images/italia/10-7/IMG_0167.JPG', title='')
      img.tile(src='/images/italia/10-7/IMG_0167.JPG')

    a.fancybox-thumb.hide(rel='10-7', href='/images/italia/10-7/IMG_0168.JPG', title='The view from the top')
      img.tile(src='/images/italia/10-7/IMG_0168.JPG')