.entry
  .left.italiano
    h1 13 - 15 / 7
      span.title — Roma
    p Captions coming soon!
  .left.english
    h1 7 / 10 - 13
      span.title — Rome

    p Yale had planned a weekend for us in Rome—which seemed great at the time because everything was free (we’d paid for it all before). All four classes hopped on busses at 7:30 a.m. on Friday (there was no class) and headed to the Eternal City for a weekend largely of monument-seeing and walking around museums. I feel like that’s the right thing to do when you go to Rome the first time; there’s so much that one should see, but I just wish the trip could have been more personally meaningful. 

    p Friday we hit up the Pantheon, St. Peter’s Cathedral and the Coliseum; a completely full day, even though we got there at 11:30! The Pantheon was cool because it had a whole at the top (see the pictures) that’s completely open to the elements year-round; when it rains, it’s wet inside and when it snows, it’s quite cold. We didn’t spend too much time looking at all the statues because Michael took us out to coffee: Roman espresso is indeed something else. Afterward we wen to St. Peter’s Cathedral, which was very gorgeous and inspired some sort of religious experience in me, I think. I’m not really sure how I feel about it, but it did prompt some religious discussion between my friends and I (most notably Kate), which was worthwhile. Then we took a looong hike to the Coliseum, which was cool, but I feel like it was just as cool in pictures as in real life. This is the point where it began to feel like just sight-seeing for the sake of sight-seeing, not because there was anything particularly meaningful at the places we were going to.
    p That night we had a great dinner altogether, and then went out to tour a bit; my favorite part was going to the Fontana (…forgot the name but its very famous), and then Laura and I took a 2 a.m. walk to the Rhine river, where there was a carnival! How fun.

    .line

    p Saturday we got up again at 7:30 to head to Vatican city, for a whirlwind tour of the palace, the Vatican Museum and the Sistine Chapel and some other parts nearby. It was cool, and I could see how it could be life-changing for other people, but it simply didn’t inspire me that much. That afternoon and night was much of the same; we had some free time when Laura, Evan and I went to the Piazza to buy paintings. One man was selling his beautiful work, 3 for 100 euro, but I haggled it down to 3 for 80! He he.

    .line

    p Sunday, before we headed back to Siena, we took a tour of the beautiful and grandiose Villa delle Borghese, a very rich and famous Italian family. Their back yard was about as large as Yale’s campus…
    p Afterward, we had lunch together and left. Something to cross off the bucket list, I guess.

  .right
    a.fancybox-thumb(rel='13-7', href='/images/italia/13-7/IMG_0170.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0170.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0171.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0171.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0172.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0172.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0173.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0173.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0174.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0174.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0175.jpg', title='')
      img.tile(src='/images/italia/13-7/IMG_0175.jpg')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0176.jpg', title='')
      img.tile(src='/images/italia/13-7/IMG_0176.jpg')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0177.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0177.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0178.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0178.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0179.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0179.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0180.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0180.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0182.jpg', title='')
      img.tile(src='/images/italia/13-7/IMG_0182.jpg')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0191.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0191.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0192.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0192.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0194.jpg', title='')
      img.tile(src='/images/italia/13-7/IMG_0194.jpg')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0196.jpg', title='')
      img.tile(src='/images/italia/13-7/IMG_0196.jpg')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0197.jpg', title='')
      img.tile(src='/images/italia/13-7/IMG_0197.jpg')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0198.jpg', title='')
      img.tile(src='/images/italia/13-7/IMG_0198.jpg')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0199.jpg', title='')
      img.tile(src='/images/italia/13-7/IMG_0199.jpg')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0200.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0200.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0201.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0201.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0202.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0202.JPG')

    a.fancybox-thumb.hide(rel='13-7', href='/images/italia/13-7/IMG_0203.JPG', title='')
      img.tile(src='/images/italia/13-7/IMG_0203.JPG')

