.entry
  .left.italiano
    h1 16 - 19 / 7
      span.title — Una settimana tipica (e un compleanno)
  .left.english
    h1 7 / 16 - 19
      span.title — A typical week (and a birthday)

    p By this week, all of us had settled into the routine of Siena. The parts we previously ooh’ed and ahh’ed at seemed less marvelous, and at least I felt I was gaining a sense of familiarity with the city. We went grocery shopping, mostly for wine, because buying drinks at bars was breaking our wallets. I took a lot of walks and runs, wanting to see more of the city and not needing a map to find my way around. At night, we finally stopped hanging out at the Piazza del Campo all the time, and checked out other bars and piazzas. I smoked a Cuban cigar, and saw the sunrise. I cut class, just to sleep and walk around more. That week, I don’t think I came home before 4 a.m., when the streets were absolutely deserted. That’s the week that Siena began feeling a bit like a home.

    .line 

    p Tuesday was our host dad, Paolo’s, birthday, and instead of getting him something from Rome, John, Robert and I took Bruna and him out to dinner at John’s favorite café, Zest (John actually knows the owner on a first-name bases and gets frequent discounts; plus there’s a cute waitress from New Zealand there that I was fond of). I had an unbelievable steak salad, and the pastas the other’s got were fantastic as well. That kind of meal style (with appetizers, two courses and then salad), with that kind of food I’ll miss quite a bit. Hopefully Robert will post the pictures soon. 


  .right

    a.fancybox-thumb(rel='16-7', href='/images/italia/21-7/IMG_0278.JPG', title='The sunrise from the outlook where we sat very often')
      img.tile(src='/images/italia/16-7/IMG_0278.JPG')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0207.jpg', title='Wine and milk shopping with Robert, Laura and Kate!')
      img.tile(src='/images/italia/16-7/IMG_0207.jpg')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0208.JPG', title='We found a karoke machine in PC City...probably the best rendition of \'I Will Survive\' ever performed.')
      img.tile(src='/images/italia/16-7/IMG_0208.JPG')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0204.jpg', title='Some swans in a park by my house')
      img.tile(src='/images/italia/16-7/IMG_0204.jpg')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0210.jpg', title='The story of Nick Aldana, Laura and my relationship')
      img.tile(src='/images/italia/16-7/IMG_0210.jpg')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0211.JPG', title='An elephant climbing wall!')
      img.tile(src='/images/italia/16-7/IMG_0211.JPG')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0213.JPG', title='A pleasant view')
      img.tile(src='/images/italia/16-7/IMG_0213.JPG')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0216.jpg', title='In Micheal\'s hidden and nameless bar—Laura wearing Lian\'s cool glasses')
      img.tile(src='/images/italia/16-7/IMG_0216.jpg')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0218.jpg', title='Now Christina...ni hao!')
      img.tile(src='/images/italia/16-7/IMG_0218.jpg')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0219.JPG', title='Now Martha')
      img.tile(src='/images/italia/16-7/IMG_0219.JPG')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0220.JPG', title='Back to the rightful owner')
      img.tile(src='/images/italia/16-7/IMG_0220.JPG')

    a.fancybox-thumb.hide(rel='16-7', href='/images/italia/16-7/IMG_0242.JPG', title='Everyone together! Christina, Robert, Kate, Lionel and Martha.')
      img.tile(src='/images/italia/16-7/IMG_0242.JPG')

