.entry
  .left.italiano
    h1 2 / 7
      span.title — il Palio
    p Oggi era probabilmente il giorno più divertente ancora. La scuola era chiusa (perché c’era il Palio), e abbiamo avuto la lezione alla casa del nostro professore (Michael Farina). Però Roberto, John ed io abbiamo perso nostri allarmi a ci siamo svegliati perché Michael ci ha chiamati. Ci sbrigliavamo e abbiamo avuto una lezione corta, che era piu divertente che il ordinario perche c’erano solo otto studenti (l’altra metà della classe è andata da Taylor). Dopo, tutti insieme siamo andati alla bottega, abbiamo comprato la pasta, il pesto e del vino e abbiamo fatto il pranzo alla casa di Michele. Che delizioso! 
    p Poi Roberto ed io siamo tornati a casa, dove nostro padre ci ha dato delle bandane dalla sua contrada (il Nicchio), quindi potremmo portarle quando siamo andati al Palio. Abbiamo aspettato quasi tre ore nella piazza, perché era una sfilata con tutte le diciassette contrade prima dei cavali siamo arrivati. Tutta la piazza, ora gremito delle persone, era silenziosa mentre i cavalli si preparavano— e con un “Bang”, hanno iniziato! Tutta la corsa (tre gire intorno alla piazza) durava probabilmente un minuto, ma ero sorpreso di stare emozionato. E, era la mia prima corsa di cavalli. La contrada Onda ha vinto, ma il Nocchio ha finito secondo—che non è importante a nessuno. Dopo, siamo tornati a casa perché abbiamo avuto abbastanza del Palio.  


  .left.english
    h1 7 / 2
      span.title — the Palio
    p Today was probably my most fun day yet. Because of the 
      a(href="http://en.wikipedia.org/wiki/Palio_di_Siena", target="_blank") Palio
      | , the school was closed and we had class at our teacher (Michael Farina)’s house. However, all three of us slept through our alarms and were woken to Michael calling Robert’s cellphone. We hurried over and had an abbreviated class, which was more fun than usual because it was only half the class (the other half had gone to the other teacher, Taylor’s house). Afterward, all eight of us went to the store, bought pasta, pesto and wine and made lunch in Michael’s kitchen. How delicious!
    p Robert and I then came back home, where our host dad gave us the handkerchief from his 
      a(href="http://en.wikipedia.org/wiki/Contrade_of_Siena", target="_blank") contrada 
      | (the Seashell), so we could wear it when we went to the Palio. We had to wait for nearly 3 hours as there was a parade with all 17 contradas, before the horses and riders came out. The entire piazza, now packed with people, went silent as the horses prepared and Bang! were off! The entire race (three laps around the piazza) lasted probably a minute, but I was surprised to find I was genuinely excited. Plus, this was my first ever horserace. 
    p The Wave contrada pulled ahead pretty early and won, but the Seashell came in second—which apparently matters very little. Immediately after, the piazza and we returned home because, honestly, we’d had our fill of the Palio.   


  .right
    a.fancybox-thumb.tall(rel='2-7', href='/images/italia/2-7/IMG_0108.jpg', title='The horses comin' round the bend!')
      img.tile(src='/images/italia/2-7/IMG_0108.jpg')

    a.fancybox-thumb.hide(rel='2-7', href='/images/italia/2-7/IMG_0109.JPG', title='All the people at the Palio -- far more than any other day')
      img.tile(src='/images/italia/2-7/IMG_0109.JPG')

    a.fancybox-thumb.hide(class="fancybox.iframe", rel='2-7', href='http://www.youtube.com/embed/ARS1egNzJN4', title="The video for this year's Palio isn't available yet: this is from last year. Two riders fell off this year, too")
      img.tile(src='/images/icons/video.png')
