.entry
  .left.italiano
    h1 2 / 7
      span.title — il Palio
    p The English versions are up -- the Italian is still being edited.

  .left.english
    h1 7 / 2
      span.title — the Palio
    p Today was probably my most fun day yet. Because of the Palio, the school was closed and we had class at our teacher (Michael Farina)’s house. However, all three of us slept through our alarms and were woken to Michael calling Robert’s cellphone. We hurried over and had an abbreviated class, which was more fun than usual because it was only half the class (the other half had gone to the other teacher, Taylor’s house). Afterward, all eight of us went to the store, bought pasta, pesto and wine and made lunch in Michael’s kitchen. How delicious!
    p Robert and I then came back home, where our host dad gave us the handkerchief from his contrada (the Seashell), so we could wear it when we went to the Palio. We had to wait for nearly 3 hours as there was a parade with all 17 contradas, before the horses and riders came out. The entire piazza, now packed with people, went silent as the horses prepared and Bang! were off! The entire race (three laps around the piazza) lasted probably a minute, but I was surprised to find I was genuinely excited. Plus, this was my first ever horserace. 
    p The Wave contrada pulled ahead pretty early and won, but the Seashell came in second—which apparently matters very little. Immediately after, the piazza and we returned home because, honestly, we’d had our fill of the Palio.   


  .right
    a.fancybox-thumb.tall(rel='2-7', href='/images/italia/2-7/IMG_0108.jpg', title='The horses comin' round the bend!')
      img.tile(src='/images/italia/2-7/IMG_0108.jpg')

    a.fancybox-thumb.hide(rel='2-7', href='/images/italia/2-7/IMG_0109.JPG', title='All the people at the Palio -- far more than any other day')
      img.tile(src='/images/italia/2-7/IMG_0109.JPG')

    a.fancybox-thumb.hide(class="fancybox.iframe", rel='2-7', href='http://www.youtube.com/embed/ARS1egNzJN4', title="The video for this year's Palio isn't available yet: this is from last year. Two riders fell off this year, too")
      img.tile(src='/images/icons/video.png')
