.entry
  .left.italiano
    h1 20 / 7
      span.title — la spiaggia!
  .left.english
    h1 7 / 20
      span.title — the beach!

    p On Friday, our professors had planned a day at the beach, so we didn’t have class. Again, we had to get on a bus at the ungodly hour of 7:30 to drive about two hours to the Mediterranean coast, to Costa di Bofetta. For the first couple of hours, we just hung out on the beach and in the water—Laura taught us this game called “Bottle”, where you fill up a bottle with water and one person throws it somewhere and the other people go look for it. Once someone finds it, they try to return it to the thrower while the others try (by wrestling/pushing/scratching/biting/drowning) to stop the person with the bottle. It sounds really stupid, but turned out to be pretty fun; a shout out to her family for coming up with it. After that (and some petty gymnastics on the scalding hot sand) it was lunchtime. The lunch Yale provided us was probably the worst meal I’ve ever had in my life. Seriously, we should have been paid to eat that food; some dry crusty prosciutto and moz and tomato sandwiches. 
    p That made me really miss American fast food.
    p It wasn’t a complete loss though; we found some fun bubble gum that came in a tube (like travel toothpaste), which provided dozens of minutes of fun. Since it was the hottest part of the day then, we went and sat in a nearby pine forest and played the game Mafia, which was also fun. But the what we did after took the cake: for just 10 euro, we rented a paddle boat for 5 people that had a slide on top! We were actually in 6, but we rowed out far enough to see (about 500 meters) so that the guards couldn’t see us, and slid/dove off the boat for 45 minutes. At the end, there were 8 of us (two others had swam all the way out to join us) and the boat was too heavy to actually row—the current was taking us out further, though we were rowing our hardest to get back to shore—so all of us swam while two people gunned it back on the boat so that we wouldn’t be fined for being late.  I’m really sad we didn’t get any pictures of that; being out past all the buoys, barely able to make out people on the coast, in the Mediterranean…

  .right

    a.fancybox-thumb.tall(rel='20-7', href='/images/italia/20-7/IMG_0271.jpg', title='Kate and Christina making a heart with their heads...how cute—sorry don\'t have any pictures of the actual beach')
      img.tile(src='/images/italia/20-7/IMG_0271.jpg')

    a.fancybox-thumb.hide(rel='20-7', href='/images/italia/20-7/IMG_0268.jpg', title='The bubble gum!')
      img.tile(src='/images/italia/20-7/IMG_0268.jpg')




