.entry
  .left.italiano
    h1 21 - 22 / 7
      span.title — il ultimo weekend

  .left.english
    h1 7 / 21 - 22
      span.title — the last (real) weekend

    p This was our last real weekend because the next one we’d all leave. We’d tried to plan trips to Venice, or Elba, or even just some dinky little town nearby, but nothing seemed like it would compare to Cinque Terre or Rome. In the end, we all stayed in Siena and went to several contrada parties (during the summer each contrada holds a party for a weekend—or at least I think that’s how it works). It was relaxing, though a bit boring; but our social fabric within and between the classes had solidified (cliques and friend groups and all), so it was nice to spend time with people I liked and hope will be my friends back at Yale. 

  .right

    a.fancybox-thumb(rel='21-7', href='/images/italia/21-7/IMG_0286.JPG', title='Siena at night, from our balcony')
      img.tile(src='/images/italia/21-7/IMG_0286.JPG')

    a.fancybox-thumb.hide(rel='21-7', href='/images/italia/21-7/IMG_0275.jpg', title='The Cubans!')
      img.tile(src='/images/italia/21-7/IMG_0275.jpg')

    a.fancybox-thumb.hide(rel='21-7', href='/images/italia/21-7/IMG_0284.JPG', title='Laura doing here thang at the lookout...right one the walls of the city!')
      img.tile(src='/images/italia/21-7/IMG_0284.JPG')



