.entry
  .left.italiano
    h1 23 - 25 / 7
      span.title — il film

  .left.english
    h1 7 / 23 - 25
      span.title — the movie

    p That Monday we got some pleasant news: the final dinner with all the host families, teachers and students together, which had been scheduled for Friday, had been moved to Thursday so that those with Friday flights could attend. Thus, it would be difficult to take a final on Friday as everybody (teachers included) planned on being pretty hung over or still inebriated—so Michael moved the final to Thursday. On top of that, instead of class on Tuesday and Wednesday, we would be filming an adaptation of a short story we’d read: Andreuccio da Perugia. We cast all the roles and storyboarded the story on Monday—I was to be one of the two thieves with Evan and “principle dancer” with Brittany, though there was no dancing in the book—then said goodbye to class forever!

    p The next two days were far more organized than I’d expected; we finished filming all the scenes by Tuesday night, though it ended up being more time-consuming than going to class at all. Laura (foolishly) volunteered to the be person to edit the movie and put all the scenes, music, effects, text and production together, and since these things are more fun done together than alone, we spent all day splicing and joining the movie instead of studying for the final. We worked out that we spent about 9 and a half hours working on it that day; intermittently from 10:30 to 2 in the morning. In the end though, I was really proud of what we made, and the class seemed to enjoy the myriad creative liberties we took with the film’s production. 

  .right
    h1 Will link to the movie as soon as it's on YouTube!
