.entry
  h1.italiano 24 / 6 
    span.title — il primo giorno
  .left.italiano
    p Ho lasciato New York un’ora di ritardo perché era un temporale. Ma sono arrivato a Roma, ho trovato il mio bagaglio e ho comprato un biglietto per il treno alla stazione Roma Termini (e dopo Chiuso e per ultimo, Siena). In Roma Termini, ho comprato il mio primo pranzo, una pizza deliziosa. Nel treno a Chiuso, ho incontrato una coppia da South Africa, e loro mi hanno dato un panino! Che simpatici. Abbiamo parlato un po’ ma dopo un’ora, pensavo che abbia visto la mia fermata. 
    p Sono lasciato del treno—ma era la fermata erronea! Ho dovuto aspettare per due ore per il prossimo treno. Ma sono arrivato a Siena alle sei e mezzo, e tutti sono bellissimi. Mi piacciono molto i nostri genitori; Bruna cuoce benone e i due sono simpatici. John (il mio compagno di stanza) ed io siamo arrivati ieri, e abbiamo cenato con loro. Bruna ha fatto della pasta, pollo alla milanese, e degli zucchini. Abbiamo finito la cena con il vino, i formaggi e i frutti, e dopo, abbiamo parlato molto. Ero sorpreso perché potevo capire il più di che hanno detto! La sera, John ed io abbiamo fatto due passi, ma siamo andati fuori della città, non al centro. Dopo di mezz’ora, siamo tornati perché non era divertente. Ma abbiamo visto una parte della città che forse non vedremo di nuovo!
    p Roberto (il terzo compagno di stanza) è arrivato oggi, primo di mi sono svegliato. Abbiamo pranzato, e ora andiamo alla cena con tutti gli studenti e le famiglie. Dopo, andremo alla piazza per vedere la partita di calcio!
  h1.english 6 / 24 
    span.title — the first day
  .left.english
    p I left New York an hour late because there was a storm. But I arrived in Rome, found by luggage and bought a ticket to the Roma Termini station (and then a connection in the city Chiuso, then finally Siena). At Roma Termini, I bought my first lunch, a delicious pizza. On the train to Chiuso, I met a couple from South Africa, and they gave me a sandwich! How nice of them. We talked for a little bit, but after an hour, I thought I saw my stop. 
    p I got off the train, but it was the wrong stop! I had to wait two hours for the next one, and I arrived in Siena at 6:30. I like our parents a lot; Bruna cooks excellently and both are very kind. John (my housemate) and I had both arrived yesterday, so we ate dinner together. Bruna made some pasta, a breaded chicken dish and a zucchini dish. We finished dinner with wine, two kinds of cheeses and fruit, and afterward, talked for a long time. I was surprised because I could understand most of what they said! That night, John and I went for a walk, but went in the wrong direction and ended up outside town and it wasn't that fun. But we did see a part of the city that we'll probably never see again.
    p Robert (the third housemate) arrived today, before I woke up. We ate lunch, and now are going to dinner with all the students and their families. After, we'll go to the piazza to watch the soccer match!

  .right

    a.fancybox-thumb(rel="24-6", href="/images/italia/24-6/IMG_0066.JPG", title="The Antiporta (before the gate), which we'll walk under every day to go to the city.")
      img.tile(src="/images/italia/24-6/IMG_0066.JPG", alt="The Antiporta (before the gate), which we'll walk under every day to go to the city.")
    a.fancybox-thumb.hide(rel="24-6", href="/images/italia/24-6/IMG_0063.JPG", title="The train station, Roma Termini")
      img.tile(src="/images/italia/24-6/IMG_0063.JPG", alt="The train station, Roma Termini")
    a.fancybox-thumb.hide(rel="24-6", href="/images/italia/24-6/IMG_0064.JPG", title="Outside the station")
      img.tile(src="/images/italia/24-6/IMG_0064.JPG", alt="Outside the station")
    a.fancybox-thumb.hide(rel="24-6", href="/images/italia/24-6/IMG_0065.JPG", title="The view from my room!")
      img.tile(src="/images/italia/24-6/IMG_0065.JPG", alt="The view from my room!")
    a.fancybox-thumb.hide(rel="24-6", href="/images/italia/24-6/IMG_0067.JPG", title="Another view, but from the street")
      img.tile(src="/images/italia/24-6/IMG_0067.JPG", alt="Another view, but from the street")
      
    -// 
      .slider-wrapper.theme-default
      .nivoSlider
        img(src="/images/italia/24-6/IMG_0063.JPG", title="The train station, Roma Termini")
        img(src="/images/italia/24-6/IMG_0064.JPG", title="Outside the station")
        img(src="/images/italia/24-6/IMG_0065.JPG", title="The view from my room!")
        img(src="/images/italia/24-6/IMG_0066.JPG", title="The Antiporta (before the gate), which we'll walk under every day to go to the city.")
        img(src="/images/italia/24-6/IMG_0067.JPG", title="Another view, but from the street")