.entry
  .left.italiano
    h1 25 / 6 
      span.title — la caccia 

  .left.english
    h1 6 / 25 
      span.title — the treasure hunt

  .right
    .slider-wrapper.theme-default
      .nivoSlider
        img(src="/images/italia/25-6/DSC_2450.jpg", title="The train station, Roma Termini")
        img(src="/images/italia/25-6/DSC_2457.jpg", title="The train station, Roma Termini")
        img(src="/images/italia/25-6/DSC_2463.jpg", title="The train station, Roma Termini")
        img(src="/images/italia/25-6/DSC_2485.jpg", title="The train station, Roma Termini")
        img(src="/images/italia/25-6/DSC_2495.jpg", title="The train station, Roma Termini")


-//
  DSC_2496.JPG
  DSC_2501.JPG
  DSC_2504.JPG
  DSC_2516.JPG