.entry
  .left.italiano
    h1 25 / 6 
      span.title — la caccia di tesoro
    p Oggi nella lezione abbiamo fatto una caccia di tesoro, per tutta la città. Dovevamo cercare molto degli edifici e alcune persone. Camminavamo per due ore! Alla fine, non potevamo andare più, e abbiamo perso un taxi alla università (era l’idea di John). Ma abbiamo vinto la caccia! Il premio: dei biscotti. 
    p Dopo abbiamo mangiato insieme a un ristorante piccolo ma carino—ho dimenticato il nome e dov’è. Mi amica Christina (che ha fatto tutte le foto oggi) e io siamo tornati alla sua casa, e abbiamo studiato un po’. Ho cenato alla mia casa, e poi, sono uscito con Christina al centro. 

  .left.english
    h1 6 / 25 
      span.title — the treasure hunt
    p Today in class we did a treasure hunt, all over the city. We had to find lots of buildings and even some people—we walked for two hours! At the end, we couldn’t go any further, so we took a taxi back (it was John’s idea).  But we won the hunt! The prize: some cookies.
    p After, we all ate together at a small but cute restaurant—I forgot the name and where it is. My friend Christina (who took all of today’s pictures) and I went back to her house and studied for a bit. I had dinner at my house, and after, Christina and I went out to the central piazza!

  .right
    a.fancybox-thumb.tall(rel="25-6", href="/images/italia/25-6/DSC_2450.jpg", title="Samir and Noah, with the statue we had to capture.")
      img.tile(src="/images/italia/25-6/DSC_2450.jpg")

    a.fancybox-thumb.hide(rel="25-6", href="/images/italia/25-6/DSC_2457.jpg", title="Sneakin' some coffee alla torrefazione.")
      img.tile(src="/images/italia/25-6/DSC_2457.jpg")

    a.fancybox-thumb.hide(rel="25-6", href="/images/italia/25-6/DSC_2463.jpg", title="The Battistero. Che meraviglia!")
      img.tile(src="/images/italia/25-6/DSC_2463.jpg")

    a.fancybox-thumb.hide(rel="25-6", href="/images/italia/25-6/DSC_2485.jpg", title="From afar, near the city walls.")
      img.tile(src="/images/italia/25-6/DSC_2485.jpg")

    a.fancybox-thumb.hide(rel="25-6", href="/images/italia/25-6/DSC_2496.JPG", title="La macelleria")
      img.tile(src="/images/italia/25-6/DSC_2496.JPG")

    a.fancybox-thumb.hide(rel="25-6", href="/images/italia/25-6/DSC_2501.JPG", title="I piccioni, in fontana")
      img.tile(src="/images/italia/25-6/DSC_2501.JPG")

    a.fancybox-thumb.hide(rel="25-6", href="/images/italia/25-6/DSC_2504.JPG", title="John nella pasticceria!")
      img.tile(src="/images/italia/25-6/DSC_2504.JPG")

    a.fancybox-thumb.hide(rel="25-6", href="/images/italia/25-6/DSC_2516.JPG", title="A street chalk artist")
      img.tile(src="/images/italia/25-6/DSC_2516.JPG")

    .caption click the picture for more!

