.entry
  .left.italiano
    h1 26 / 6 
      span.title — le scarpe
    p Abbiamo parlato con nostri genitori ieri sera di comprare biglietti bus perché la camminata alla scuola dura quaranta minuti, ma ora penso che andremo a piedi. È un disagio, ma questa è la vita. Già, la città sta perdendo il suo fascino! Oggi dopo la lezione, ho pranzato e ho passato tempo con alcuni amici, e poi abbiamo fatto shopping con due altri studenti della mia classe, Genie ed Evan. Volevo comprare alcune scarpe europee, e ne ho trovato in una bottega (di nuovo, ho dimenticato il nome).Le ho comprate, ma non so se mi piacciono, e ho paura di indossarle perché allora non potevo restituirle. Forse le portavo domani, quando andrò a vedere la partita tra Spagna e Portogallo.  
    p Sta sera, John Robert ed io siamo usciti con Christina, Jessica, Yvette and Britanny per andare alla discoteca, ma ne abbiamo trovata solo una—e nessuno era li! Quindi, abbiamo comprato del vino e ci siamo seduti nella piazza per circa un’ora. Dopo, siamo tornati a casa perché vogliamo uscire le prossime due notte per vedere le partite di calcio (e anche avevamo bisogno di studiare). 

  .left.english
    h1 6 / 26 
      span.title — the shoes
    p We talked with our parents last night about buying some bus tickets because the walk to school takes a full 40 minutes, but now I think we’ll just go by foot. It’s inconvenient, but that’s life. Sadly, the city is already starting to lose some of its charm. Today after class, I ate lunch and spent some time with some buddies, and then went shopping with two other kids from my class, Genie and Evan. I wanted to but some European shoes, and found some in a store (again, forgot its name). I bought them, but I don’t know if I like them, and I’m scared to wear them because then I can’t return them. Maybe I’ll wear them tomorrow when I go to see the game between Spain and Portugal. 
    p   Tonight, John, Robert and I went out with Christina, Jessica, Yvette and Brittany to go to the club, but we only found one—and no one was there! So we bought some wine and sat in the piazza for about an hour. Then we came home because we want to go out the next two nights to watch the soccer games (and we needed to study). 

  .right
    a.fancybox-thumb.tall(rel='26-6', href='/images/italia/26-6/IMG_0072.jpg', title='The shoes! Thoughts?')
      img.tile(src='/images/italia/26-6/IMG_0072.jpg')

    a.fancybox-thumb.hide(rel='26-6', href='/images/italia/26-6/IMG_0069.JPG', title="The wild boar that crawled into John and Robert's room!")
      img.tile(src='/images/italia/26-6/IMG_0069.JPG')

    a.fancybox-thumb.hide(rel='26-6', href='/images/italia/26-6/IMG_0070.JPG', title='Our teacher really likes wild boars...and we found some pasta sauce made with their meat -____-')
      img.tile(src='/images/italia/26-6/IMG_0070.JPG')

    a.fancybox-thumb.hide(rel='26-6', href='/images/italia/26-6/IMG_0071.jpg', title='A wall of profanity near the mall')
      img.tile(src='/images/italia/26-6/IMG_0071.jpg')