.entry
  .left.italiano
    h1 26 - 28 / 7
      span.title — gli ultimi giorni

  .left.english
    h1 7 / 26 - 28
      span.title — the last days

    p Thursday we had class then all went out together for lunch before our final. The final went well; and I ended up doing well in the class overall (hooray!). It was nice to finally get the course portion of the trip over with, and spend the rest of the time stress-free…though to be honest I was pretty stress-free the entire time. That night was the final dinner, a grand affair in Orto di Pesci, a beautiful clearing near the center of the city. Several great speeches were given, and we all ate well for a couple hours. Afterward, most of us headed to the piazza, and then Michael’s favorite bar (which has no name) for drinks and for me, more cigars! We stayed there, talking and relaxing, until pretty late then all headed home. The ending reflected the mood of the entire trip, which was quite bittersweet. 

    p Laura and Christina were leaving around 1:30 on Friday, so Evan, Robert, Kate and I had lunch with them and walked them to the station. Laura’s ankle is still weak, and Christina still had two broken ribs (from Cinque Terre), so I still don’t know how they managed with their luggage. Christina’s spending another week or two with a friend in Milan, but Laura’s headed back to Connecticut. The rest of the day we just hung out; we watched the Illusionist at my house because it was too hot outside. That night I finished packing and went out to the Piazza to say bye to everyone (Yvette and I had a particularly emotional one), and ended up getting a super-mojito! 

    p My family was kind enough to get up with me at 6 o’clock in the morning, when I caught my bus to the Florence Airport. I honestly believe that John, Robert and I got the best family; Bruna and Paolo cared just enough in that they would always cook great dinners, and always offered lunch when we were home, even though they technically didn’t have to. They taught us about the city, the contradas, and always kindly corrected our language mistakes. Bruna, aside from being a phenomenal cook, made our beds every day and washed, dried and ironed our clothes each week. Their kindness was overwhelming and wholly unexpected. At the same time, we had a part of the house to ourselves so that we didn’t have to whisper when it got too late. They never had a problem with us staying out until dawn, or having our friends over to shoot scenes of a movie, or even just to watch one. It was unbelievable that after just five weeks, they treated us like their own grandchildren, and extended to us every gesture of hospitality. They are the primary reason that my summer was as great as it was, and for that, I cannot thank them enough. 

  .right
    a.fancybox-thumb(rel='26-7', href='/images/italia/26-7/IMG_0296.jpg', title='The entire class together at the final dinner!')
      img.tile(src='/images/italia/26-7/IMG_0296.jpg')

    a.fancybox-thumb.hide(rel='26-7', href='/images/italia/26-7/IMG_0290.jpg', title='A statue casually holding a cigarette')
      img.tile(src='/images/italia/26-7/IMG_0290.jpg')

    a.fancybox-thumb.hide(rel='26-7', href='/images/italia/26-7/IMG_0294.jpg', title='The WORST frozen yogurt place, perhaps in the world, certainly in Italy. But we had to try it once...')
      img.tile(src='/images/italia/26-7/IMG_0294.jpg')

    a.fancybox-thumb.hide(rel='26-7', href='/images/italia/26-7/IMG_0303.jpg', title='Outside Michael\'s bar again—with cigars of course')
      img.tile(src='/images/italia/26-7/IMG_0303.jpg')


