.entry
  .left.italiano
    h1 27 / 6 
      span.title — il Whiffenpoofs
    p Oggi ho corso alla scuola — non era troppo estenuante (ma un po’ imbarazzante). Penso che lo farò tutti i giorni; che noioso! Dovevamo andare a un giro dopo la lezione, quindi qualche studente ed io abbiamo pranzato velocemente e abbiamo iniziato studiare nell’università. Ho finito quasi tutti i compiti quando avevamo bisogno di lasciare — ora devo finirli perché voglio veder la partita tra Spagna e Portogallo.  
    p Il giro era un po’ annoiato, ma molto educativo. Siamo andati ad alcune chiese e al fine, a una gelateria. Poi, siamo andati a un teatro fuori per vedere il gruppo a cappella da Yale più conosciuto: Il Whiffenpoofs. Mi piacevo perché hanno cantato una delle mie canzone preferite: “Call Your Girlfriend”. 
    p Dopo, sono tornato a casa per cenare e studiare un po’. Volevo uscire, ma ero stanco e mi sono addormito sul devano molto presto. Ma domani, uscirò!  

  .left.english
    h1 6 / 27 
      span.title — the Whiffenpoofs
    p Today I ran to school — it wasn’t too stressful (but a little embarrassing). I think that I’ll do that every day; how annoying! We had to go on a tour after class, so some students and I lunched quickly and started studying in the university. I finished nearly all of my homework before we had to leave — now I should finish it because i want to watch the game between Spain and Portugal.
    p The tour was a bit boring, but very educational. We went to some churches, and at the end, an ice cream store. Then, we went to an outdoors theater to watch the most well known a cappella group from Yale: The Whiffenpoofs. I liked the show because they sang one of my favorite songs: “Call Your Girlfriend”.
    p After, I went back home to eat and study a bit. I wanted to go out, but I was so tired that I fell asleep on the couch really early. But tomorrow, I will go out!


  .right
    a.fancybox-thumb(rel='27-6', href='/images/italia/27-6/IMG_0076.JPG', title='One of the many sweet buildings on our tour')
      img.tile(src='/images/italia/27-6/IMG_0076.JPG')

    a.fancybox-thumb.hide(rel='27-6', href='/images/italia/27-6/IMG_0077.jpg', title='The wolf that raised Romulus and Remus, the father of Senius, the founder of Siena')
      img.tile(src='/images/italia/27-6/IMG_0077.jpg')

    a.fancybox-thumb.hide(rel='27-6', href='/images/italia/27-6/IMG_0078.jpg', title='Michele, nella strada! Mi sembra un poco stanco...')
      img.tile(src='/images/italia/27-6/IMG_0078.jpg')

    a.fancybox-thumb.hide(rel='27-6', href='/images/italia/27-6/IMG_0079.jpg', title='A cute street')
      img.tile(src='/images/italia/27-6/IMG_0079.jpg')

    a.fancybox-thumb.hide(rel='27-6', href='/images/italia/27-6/IMG_0080.JPG', title='San Francesco church')
      img.tile(src='/images/italia/27-6/IMG_0080.JPG')

    a.fancybox-thumb.hide(rel='27-6', href='/images/italia/27-6/IMG_0081.JPG', title='The Whiffenpoofs singing Call Your Girlfriend!')
      img.tile(src='/images/italia/27-6/IMG_0081.JPG')

    .caption click the picture for more!
    
