.entry
  .left.italiano
    h1 28, 29 / 6 
      span.title — la discoteca!
    p Come ho promesso, sono uscito per vedere la partita mezza-finale giovedì sera. Christina ed io siamo partiti un po’ in ritardo, quindi quando camminavamo alla Piazza del Campo, nessuno era nelle strade. Tutti erano in un bar o a casa, vedendo la partita. Quando Italia hanno segnato, la gente inizierebbe a urlare dalle finestre. Quando siamo arrivati alla piazza, era gremito e non c’erano posti a sedere, ma abbiamo potuto trovare alcune poste vicino un televisore che era fuori di un ristorante. Pensavo che Germania giocavano migliore la seconda metà, ma erano sfortunati e hanno perso (sebbene quando hanno vinto il calcio di rigore nel ottantaseiesimo minuto, tutti erano nervosi). 
    p Dopo la partita, la gente nella piazza hanno fato una festa, per un’ora e mezzo! Noi (Christina ed io ci siamo incontrati con alcuni altri amici) li abbiamo guardati: stavano cantando le stesse canzoni, sventolando bandiere e ballando per tutta la piazza. Ma, siamo tornati presto perché abbiamo avuto un esame il prossimo giorno.

    div(style="height: 0; border-bottom: 1pt dashed #aaa; margin: 10px 0;")
    

    p Infine, un weekend a Siena! Volevamo trovare una posta per ballare quella notte. Dopo l’esame, sono andato a cambiare le scarpe (che ho comprato due giorni fa) a un’altra, nera, pariglia. Quella notte, John ha trovato una discoteca (che forse era o non era un bar per omosessuali) e abbiamo occupato la posta: era quasi venticinque di noi e forse sette persone italiane. Abbiamo richiesto delle canzoni americane (che la mia amica Yvette ha goduto particolarmente) e alcuni di noi hanno ballato con uomini italiani! Che scandalosa! 

    

  .left.english
    h1 6 / 27, 28 
      span.title — the disco!
    p As promised, I went out to watch the Euro semi-final Thursday night. Christina and I left a bit late, so as we were walking to the center piazza, the streets were deserted. Everyone was in a bar or at home watching the game. Whenever Italy scored in the first half, people would literally start screaming out of their windows. When we got to the piazza, it was packed and there were no seats, but we were able to find a spot along a fence where we could watch. I thought Germany played better in the second half, but they were unlucky and lost (though when they got the penalty kick in the 86th minute, everyone was a bit nervous). 
    p After the game, the people in the piazza paraded around—for a full hour and a half! We (Christina and I had met up with some other friends) kept expecting them to stop, but people kept singing the same songs over and over, waving flags and cheering all around the piazza. We went home pretty early though, because we had a test the next day.


    div(style="height: 0; border-bottom: 1pt dashed #aaa; margin: 10px 0;")


    p At last, the first weekend in Siena! We had high hopes of finding some place to dance that night. After our test, I sadly went and changed my shoes to a more compatible pair. That night, John found a dance place (that may or may not have been a gay bar) and we literally took over the place: there were about 25 of us and 7 Italian people. We requested American songs to dance to (that my friend Yvette particularly enjoyed) and some of us even danced with Italian men. How scandalous!



  .right
    a.fancybox-thumb(rel='28-6', href='/images/italia/28-6/IMG_0086.JPG', title='Victory!')
      img.tile(src='/images/italia/28-6/IMG_0086.JPG')

    a.fancybox-thumb.hide(rel='28-6', href='/images/italia/28-6/IMG_0082.JPG', title='The crowd in the final minutes of the semi-final!')
      img.tile(src='/images/italia/28-6/IMG_0082.JPG')

    a.fancybox-thumb.hide(class="fancybox.iframe", rel='28-6', href='http://www.youtube.com/embed/92opuCk5frQ', title='After the win')
      img.tile(src='/images/icons/video.png')

    a.fancybox-thumb.hide(rel='28-6', href='/images/italia/28-6/IMG_0088.jpg', title='The horses being led in to be randomly assigned to each contrada. The assignment process is quite elaborate and complicated.')
      img.tile(src='/images/italia/28-6/IMG_0088.jpg')

    a.fancybox-thumb.hide(rel='28-6', href='/images/italia/28-6/IMG_0089.JPG', title='All the people who came just to see which horse would be randomly assigned to which Contrada')
      img.tile(src='/images/italia/28-6/IMG_0089.JPG')

    a.fancybox-thumb.hide(rel='28-6', href='/images/italia/28-6/IMG_0090.JPG', title='One of the horses')
      img.tile(src='/images/italia/28-6/IMG_0090.JPG')

    a.fancybox-thumb.hide(class="fancybox.iframe", rel='28-6', href='http://www.youtube.com/embed/TnMMa_8nJuQ', title='The chant as this contrada marches their horse home!')
      img.tile(src='/images/icons/video.png')


    a.fancybox-thumb.hide(rel='28-6', href='/images/italia/28-6/IMG_0094.JPG', title='All the contradas had parades. This is a flagbearer at the finish, surrounded by drummers (all the contradas marched to the same beat, strangely enough)')
      img.tile(src='/images/italia/28-6/IMG_0094.JPG')


    a.fancybox-thumb.hide(rel='28-6', href='/images/italia/28-6/IMG_0096.jpg', title='John after a super-fun night at the disco')
      img.tile(src='/images/italia/28-6/IMG_0096.jpg')

    a.fancybox-thumb.hide(rel='28-6', href='/images/italia/28-6/IMG_0110.jpg', title='My new shoes!')
      img.tile(src='/images/italia/28-6/IMG_0110.jpg')

