.entry
  .left.italiano
    h1 3 / 7
      span.title — Firenze
    p Oggi la nostra lezione e la di L3 / L4 dovevano alzarci alle otte per andare in autobus a Firenze. Prima abbiamo fato un girotta della citta, che era affollata dei turisti ma interessante.  Avevamo guide turistiche a che abbiamo ascoltato da radio, quindi era facile non prestare attenzione e vedere le cose che volevamo. La meglio parte del giorno, siamo stati nel Museo d’Uffizi, che aveva decine delle dipinti, includendo Birth of Venus di Botticelli. Perché la guida era un po’ noiosa, Kate, che sa letteralmente ogni fatto dei dipinti, ci ha dato un girotta, che era molto più divertente ed educativa di la della guida. Abbiamo pranzato al ristorante del museo dopo, (il cibo mi sembrava come Luncheables), e poi abbiamo fato una passeggiata per la città e siamo andati a casa. 

  .left.english
    h1 7 / 3
      span.title — Florence
    p Today our class and L3 / L4 had to get up at 8 a.m. to go by bus to Florence. First we went on a mini tour of the city, incredibly crowded with tourists but fairly interesting. We had tour guides to whom we listened through radios, so it was easy to not pay attention and check out things on our own. The main part of the day was spent in the Museo d’Uffizi, or the Museum of Officials, which had originals of dozens of famous paintings, including Botticelli’s Birth of Venus (unfortunately, we couldn’t take pictures inside). 
    p Because the tour guide was somewhat boring, Kate, who loves learning about stuff like this and knows literally every single fact about every major painting, gave a mini-tour on the side to a couple of us, which was much more interesting. We had lunch at the museum restaurant afterwards (which looked and tasted like 
      a(href="http://en.wikipedia.org/wiki/Lunchables", target="_blank") Lunchables
      | ), then went to walk around the city. We saw several tourist-y points—unfortunately, nothing too eventful happened—and we returned home by bus. There are some pretty funny pictures (of this trip and now, 
      a(href="http://en.wikipedia.org/wiki/Cinque_Terre", target="_blank") Cinque Terre
      | ) on my 
      a(href="http://facebook.com", target="_blank") Facebook
      | , so I encourage you to check them out!
  .right

    a.fancybox-thumb.tall(rel='3-7', href='/images/italia/3-7/IMG_0111.jpg', title='In Florence...sorry forgot the names of all these :-/ Check out Facebook for more!')
      img.tile(src='/images/italia/3-7/IMG_0111.jpg')

    a.fancybox-thumb.hide(rel='3-7', href='/images/italia/3-7/IMG_0112.jpg', title='')
      img.tile(src='/images/italia/3-7/IMG_0112.jpg')

    a.fancybox-thumb.hide(rel='3-7', href='/images/italia/3-7/IMG_0113.JPG', title='')
      img.tile(src='/images/italia/3-7/IMG_0113.JPG')

    a.fancybox-thumb.hide(rel='3-7', href='/images/italia/3-7/IMG_0114.JPG', title='')
      img.tile(src='/images/italia/3-7/IMG_0114.JPG')

    a.fancybox-thumb.hide(rel='3-7', href='/images/italia/3-7/IMG_0115.jpg', title='')
      img.tile(src='/images/italia/3-7/IMG_0115.jpg')

