.entry
  .left.italiano
    h1 30 / 6, 1 / 7
      span.title — la finale

    p Perché la notte alla discoteca era cosi estenuante (anche John, Robert ed io abbiamo parlato per tre ore dopo siamo arrivati a casa), abbiamo dormito fino alle sei del pomeriggio. Ho pensato di iniziare i compiti, ma non li ho fatti e invece sono andato con Roberto a un concerto per il Palio, della Banda di Siena. Quella notte non era troppo intensa perché volevo salvarmi per la partita finale domenica sera. Sfortunatamente, ho dimenticato le chiave a casa e dovevo aspettare il mio amico Jake, che mi ha lasciato stare da te. 

    div(style="height: 0; border-bottom: 1pt dashed #aaa; margin: 10px 0;")

    p Mi sono alzato a mezzogiorno e sono tornati a casa per pranzare. Il resto del giorno, ho fatto i compiti, e non so cosa ha passato quella notte…
    p Sto scherzando. Evan, Laura Kate ed io ci siamo incontrati per trovare un tavolo per vedere la partita alle sei, ma c’era il secondo Prova del Palio. No potevo creder che tante persone verrebbero per vedere i cavalli per solo cinque minuti! Quando quella ha finito, abbiamo aspettato mentre il restaurante si preparava, proti a prendere un tavolo, ma ci sbatté le palpebre e tutti i tavoli erano occupati! Che peccato. Siamo andati a altro ristorante e abbiamo visto la partita, che era un’esperienza deprimente. Dopo, Evan, Laura ed io abbiamo passato di molto tempo insieme: era tranquillissimo. 

    

  .left.english
    h1 6 / 30, 7 / 1
      span.title — the final
    p Because the night at the disco was so exhausting (also John, Robert and I talked for some three hours after coming home), I slept until 6 p.m. Saturday. After thinking really hard about starting my homework, I decided against it and went out with Robert to watch the Band of Siena’s Palio concert.  That night was not too intense because I wanted to save myself for the final Sunday night. Unfortunately, I had forgotten my keys at home, so had to wait until my friend Jake, who was kind enough to let me stay with him, went home. 

    div(style="height: 0; border-bottom: 1pt dashed #aaa; margin: 10px 0;")

    p I woke up around noon and went home (Jake’s host mom, Laura, was super kind) for lunch. The rest of the day, I did homework—and I have no recollection of what happened that night.
    p Just kidding. Evan, Laura, Kate and I met to stake out a spot at a restaurant to watch the game at six, but it turns out that was when there was the second “prova”, or trial run, for the Palio. I couldn’t believe that so many people would show up just to watch the horses trot around for 5 minutes! When that ended, we waited for a while as a restaurant set up its tables, ready to pounce when they gave the go-ahead, but we blinked for one second and all the tables were taken. Too bad. We went to a neighboring restaurant and watched the game, which was a depressing experience. After, Evan, Laura and I hung out for a long time: ‘twas quite peaceful. 


  .right
    a.fancybox-thumb(rel='30-6', href='/images/italia/30-6/IMG_0099.JPG', title='The concert in the piazza')
      img.tile(src='/images/italia/30-6/IMG_0099.JPG')

    a.fancybox-thumb.hide(rel='30-6', href='/images/italia/30-6/IMG_0100.JPG', title='The prova!')
      img.tile(src='/images/italia/30-6/IMG_0100.JPG')

    a.fancybox-thumb.hide(rel='30-6', href='/images/italia/30-6/IMG_0101.JPG', title='Look at all them people')
      img.tile(src='/images/italia/30-6/IMG_0101.JPG')

    a.fancybox-thumb.hide(rel='30-6', href='/images/italia/30-6/IMG_0102.jpg', title='Buying lunch to cook at Michael's')
      img.tile(src='/images/italia/30-6/IMG_0102.jpg')

    a.fancybox-thumb.hide(rel='30-6', href='/images/italia/30-6/IMG_0104.JPG', title='A nice view I saw today')
      img.tile(src='/images/italia/30-6/IMG_0104.JPG')

