.entry
  .left.italiano
    h1 3 / 7
      span.title — Il giorno d'indipendenza


  .left.english
    h1 7 / 3
      span.title — Independence Day
    p Our teachers had something special planned for us for Independence Day—a talk about Dante and Cicero from a true American. Bob Pence, a big funder for the Republican Party and Mitt Romney’s campaign (he pointed out to us several times that Romney himself had been at his house for lunch just the other day), gave us an hour-long spiel comparing Dante’s work to Cicero. Personally, I thought he was talking above all of our heads: I knew nothing of Cicero or Dante, but I figured since this was the topic of his dissertation (he’d come back to Yale to do one…just for fun) he was making sense. Our true thoughts about the talk I’ll keep off of the internet.

    p Afterward, some bros and I played a bit of soccer in the clearing near the place of the talk. We were fed a fabulous lunch, complete with hamburgers, hotdogs and potato salad, American style! There were also some goats and asses there that we fed and entertained ourselves with. A fabulous day!

  .right
    a.fancybox-thumb(rel='4-7', href='/images/italia/4-7/IMG_0117.JPG', title='The view from the tower in the Piazze di Campo')
      img.tile(src='/images/italia/4-7/IMG_0117.JPG')

    a.fancybox-thumb.hide(rel='4-7', href='/images/italia/4-7/IMG_0120.JPG', title='The place where Bob Pence came to speak--a beautiful clearing!')
      img.tile(src='/images/italia/4-7/IMG_0120.JPG')

    a.fancybox-thumb.hide(rel='4-7', href='/images/italia/4-7/IMG_0121.JPG', title='')
      img.tile(src='/images/italia/4-7/IMG_0121.JPG')

    a.fancybox-thumb.hide(rel='4-7', href='/images/italia/4-7/IMG_0125.jpg', title='There was a donkey there')
      img.tile(src='/images/italia/4-7/IMG_0125.jpg')

    a.fancybox-thumb.hide(rel='4-7', href='/images/italia/4-7/IMG_0126.jpg', title='And some goats')
      img.tile(src='/images/italia/4-7/IMG_0126.jpg')

    a.fancybox-thumb.hide(rel='4-7', href='/images/italia/4-7/IMG_0127.JPG', title='A sweet elephant statue I found. Mi piacciono gli elefanti')
      img.tile(src='/images/italia/4-7/IMG_0127.JPG')

    a.fancybox-thumb.hide(rel='4-7', href='/images/italia/4-7/IMG_0118.PNG', title='The sweet car I bought in this racing game I'm currently playing')
      img.tile(src='/images/italia/4-7/IMG_0118.PNG')

