.entry
  .left.italiano
    h1 6 - 8 / 7
      span.title — cinque cerre
    p English versions are up! Many more pictures on 
      a(href="http://facebook.com", target="_blank") Facebook
      |.

  .left.english
    h1 7 / 6 - 8
      span.title — cinque terre
  .right
    a.fancybox-thumb.tall(rel='6-7', href='/images/italia/6-7/IMG_0137.jpg', title='Evan having some fun on the train ride there...')
      img.tile(src='/images/italia/6-7/IMG_0137.jpg')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0141.jpg', title='Me too!')
      img.tile(src='/images/italia/6-7/IMG_0141.jpg')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0144.JPG', title='Che bello!')
      img.tile(src='/images/italia/6-7/IMG_0144.JPG')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0145.jpg', title='')
      img.tile(src='/images/italia/6-7/IMG_0145.jpg')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0146.JPG', title='')
      img.tile(src='/images/italia/6-7/IMG_0146.JPG')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0147.jpg', title='We really like playing around irresponsibly with the trains')
      img.tile(src='/images/italia/6-7/IMG_0147.jpg')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0148.JPG', title='From the tunnel')
      img.tile(src='/images/italia/6-7/IMG_0148.JPG')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0153.JPG', title='A bar called "So What" — quite the good time (with Laura and Evan)')
      img.tile(src='/images/italia/6-7/IMG_0153.JPG')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0151.JPG', title='KILLED IT')
      img.tile(src='/images/italia/6-7/IMG_0151.JPG')



