.entry
  .left.italiano
    h1 6 - 8 / 7
      span.title — cinque terre
    p Questo weekend è stato uno dei migliori della mia vita. Per due settimane, abbiamo programmato una gita alle Cinque Terre (un'idea di Evan), che sono cinque paesi piccoli lungo la costa, a nord-ovest di Firenze. Sarebbe meraviglioso. 

    p Prima, il nostro esame venerdì era cancellato, quindi abbiamo dormito molto e abbiamo pranzato bene prima di salire in treno per le Cinque Terre. Abbiamo prenotato un “letto e colazione” per sei, ma il gruppo di sei ha deciso di includere me—eravamo in sette. Quando siamo arrivati, ci siamo resi conto che Evan aveva dimenticato il suo passaporto! Lui era il nostro fuggitivo. Noi sei abbiamo registrato normalmente, a quando Grazia, la proprietaria non vedeva, lui è entrato. Questo sistema l’abbiamo fatto per tutto il weekend—lei non aveva mai nessun’idea! 
    p Quella notte, siamo andati a Vernazza per cenare. Era una piazza vicino all’acqua: pensavo che fossimo entrati in una foto di un calendario o libro turistico. Abbiamo fatto una passeggiata accanto all'acqua e poi abbiamo cenato in un bel ristorante. Siamo tornati a Spezia (dove era il B&B) per trovare i nostri altri amici e forse una festa, ma non l’abbiamo trovati.

    .line

    p Il prossimo giorno, Laura, Evan, Christina, Kate ed io ci siamo svegliati alle sette perché volevamo fare un’escursione per le cinque terre, quando faceva fresco (Genie e Jake non volevano e sono stati nel B&B, ci sarebbero uniti più tardi). È difficile descrivere esattamente la sensazione di camminare per la montagna, guardando l’acqua perfetta—le foto dovranno dire la storia. Quando siamo arrivati a Corniglia, ci siamo riposati un po’, poi ci siamo affrettati a Manarola, dove abbiamo saltato dalle scogliere! Sfortunatamente, il sentiero tra le due città era chiuso, e abbiamo dovuto prendere il treno là. Saltando dalla scogliera era entusiasmante—per dieci minuti prima ero pieno d’adrenalina (la caduta era forse quindici metri). L’acqua salata era scioccante; non avevo nuotato in un mare o oceano per un anno! 

    p Dopo avere saltato, siamo andati alla spiaggia in Monterosso per il resto del giorno. Questa era la mia parte meno favorita perché c’erano tanti turisti. Però, Laura ed io abbiamo noleggiato un kayak e abbiamo remato forse trecento metri dalla spiaggia, ci siamo seduti là per una mezz’ora. Siamo stati in Monterosso per cena (quando ho bevuto molto vino), e siamo tornati a La Spezia affinché, stasera, potessimo trovare una festa. Ma quando siamo arrivati al B&B, nessuno voleva uscire! Tranne Evan, Laura ed io. Siamo usciti, cercando qualcosa da fare. Abbiamo trovato una capanna in un parcheggio che si chiamava “So What”, suonando la musica americana. Ci siamo seduti là per tre ore (ed io ho flirtato con il barista e ho ricevuto una bottiglia di vino che costava otto euro per sei). Alla fine, siamo incespicati all’albergo. Che notte divertentissima!



  .left.english
    h1 7 / 6 - 8
      span.title — cinque terre
    p This weekend was definitely one of the best of my life. For a couple of weeks, we’d been planning a trip to Cinque Terre (Evan’s idea), a collection of five beautiful little cities, all along the rocky coast just northwest of Florence. ‘Twould be marvelous.

    p First, our test on Friday was cancelled, so we all slept in and had a nice lunch before boarding the train to Cinque Terre. We’d made a reservation for six at a bed and breakfast in La Spezia, a larger town close to the five ‘terre’, but the group (Jake, Genie, Laura, Kate, Christina and Evan) decided to squeeze me in as well, so some trickery would be necessary to navigate the living situation. When we got there, we found out that Evan had forgotten his passport: thus, he became the fugitive. The rest of us six checked in as normal, and when Grazia, the owner, turned her back, we snuck Evan into one of the rooms. This is how we operated all weekend—she never had any idea!

    p Friday night we decided to have dinner in Vernazza, the second farthest of the cities. When we got there, I honestly felt as though I’d stepped into a calendar or tourist book. There was a small piazza overlooking the Mediterranean, and the water was as blue as I could possibly imagine. There were other tourists, yes, but it wasn’t overly crowded and we had a grand dinner by the waterside. Cinque Terre is allegedly the place where pesto was invented, so many of us tried pesto dishes—they all proved delicious. Afterward, we sat by on the rocks by the water for a bit, then headed back to La Spezia to find our other friends and perhaps, a party. We went to their hotel, but couldn’t hang out because we were making too much noise, so just ended up going back home. 

    .line

    p Laura had this fantastic (no sarcasm) idea to get up at 7 a.m. on Saturday so that we could do an early morning hike. Jake and Genie didn’t want to go, so the rest of us dragged ourselves back to Vernazza in the morning, and began the hike along the mountainside to Corniglia. It’s hard to describe exactly the feeling of scaling that mountain, overlooking the coastline—the pictures will have to tell the story. Once we got to Corniglia, we stopped for a quick break then hurried on to Manarola, where we would cliff-jump! Unfortunately, the hike between those two cities was closed so we had to take the train. Cliff-jumping was thrilling—for a solid 10 minutes beforehand I was just chock-full of adrenaline (the fall was about 15 meters). After pacing around for a while, I built up the courage to jump—what a fantastic feeling it is to just fall! The saltwater was shocking though; I hadn’t swam in a sea or ocean for a long time. One of us did an even higher jump (it wasn’t even an official cliff, you had to jump off the railing along one of the walkways), but I figured my life just wasn’t worth all that. 

    p After the jumping, we hit the beach in Monterosso for the rest of the day. This was my least favorite part probably because there were so many tourists. Still, Laura and I rented a kayak and rowed out about 300 meters to open sea and chilled out there for a while. Quite relaxing. We stayed in Monterosso for dinner (and Laura and I may or may not have had a lot of wine) then headed back to La Spezia so that, tonight, we could party. When we got back to the B&B, though, everyone was tired. But not Laura, Evan or me. Us three, we went out looking for something to do (though since our B&B is so far from the city center, the area was mostly residential). We happened upon what seemed to be a neon hut in the middle of a parking lot: thus, we sat at “So What”, an allegedly American bar that was, at the time, blasting 
      a(href="http://www.youtube.com/watch?v=tg00YEETFzg", target="_blank") Rihanna
      |. Evan, Laura and I just sat there for three hours, drinking wine and talking (I managed to flirt with the bartender and get our 8 euro wine for 6…
      a(href="https://twitter.com/#!/search/%23winning", target="_blank")&#35;winning
      |). Eventually we stumbled home, only to get up 6 hours later and catch the train back to Siena on Sunday. 

  .right
    a.fancybox-thumb.tall(rel='6-7', href='/images/italia/6-7/IMG_0137.jpg', title='Evan having some fun on the train ride there...captures the spirit of the trip perfectly')
      img.tile(src='/images/italia/6-7/IMG_0137.jpg')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0141.jpg', title='Me too!')
      img.tile(src='/images/italia/6-7/IMG_0141.jpg')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0144.JPG', title='Che bello!')
      img.tile(src='/images/italia/6-7/IMG_0144.JPG')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0145.jpg', title='')
      img.tile(src='/images/italia/6-7/IMG_0145.jpg')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0146.JPG', title='')
      img.tile(src='/images/italia/6-7/IMG_0146.JPG')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0147.jpg', title='We really like playing around irresponsibly with the trains')
      img.tile(src='/images/italia/6-7/IMG_0147.jpg')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0148.JPG', title='From the tunnel')
      img.tile(src='/images/italia/6-7/IMG_0148.JPG')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0153.JPG', title='A bar called "So What" — quite the good time (with Laura and Evan)')
      img.tile(src='/images/italia/6-7/IMG_0153.JPG')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/IMG_0151.JPG', title='KILLED IT')
      img.tile(src='/images/italia/6-7/IMG_0151.JPG')

    a.fancybox-thumb.hide(rel='6-7', href='/images/italia/6-7/map.gif', title='A map of where we were.')
      img.tile(src='/images/italia/6-7/map.gif')



