#academy {
  background-image: url('/images/backgrounds/beach.jpg');
  background-attachment: fixed;
  overflow: scroll;
  .nav_bar > a, .nav_bar > li {
    color: white;
  }
}

#academy_c {
  top: 70px;
  left: @left;
  width: @min-width - 22;
  padding: @pad+10;
  border: 1pt solid #ccc;
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 30px;
  color: black;
  p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: justify;
    &.centered {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 20px;
      text-align: center;
      font-weight: 500;
    }
  }
  h1.intro {
    text-align: center;
    font-size: 300%;
  }
  span.js-nav {
    color: crimson;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  a, a:hover {
    color: crimson;
  }
}

.acad_section {
  font-size: 0;
  margin-bottom: 20px;
  > div {
    display: inline-block;
    vertical-align: top;
    &:first-child {
      margin-right: 5%;
    }
  }
  > .img {
    vertical-align: middle;
    width: 30%;
    img {
      width: 100%;
    }
  }
  > .text {
    width: 65%;
  }
}

.acad_showcase {
  font-size: 0;
  margin-top: 20px;
  > .third {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    margin: 0 2%;
    img {
      margin-top: 10px;
      width: 100%;
      height: 65px;
    }
  }
}

.acad_caption {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 5px;
}
