/*
For faiazkhan.com, by Faiaz Khan. 
Edited February 16, 2012
*/
/*=============================OVER-ARCHING=================================*/
html,
body {
  min-height: 100%;
  width: 100%;
}
body {
  font-family: Glegoo;
  font-family: Nixie One;
  font-size: 14px;
  line-height: 18px;
  background-color: black;
  color: white;
  width: 100%;
  min-width: 920px;
  height: 100%;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
li {
  display: inline-block;
}
.crimson {
  color: crimson;
}
.crimson:hover {
  color: OrangeRed;
}
.hidden {
  display: none;
}
.big {
  font-size: 20px;
  line-height: 30px;
}
.blue {
  color: deepskyblue;
}
.nav_bar {
  margin-left: 80px;
  color: silver;
  font-size: 16px;
  line-height: 26px;
  width: 980px;
}
.nav_bar > li {
  padding-right: 50px;
  padding-top: 16px;
  margin: 0px;
}
.nav_bar > li:last-child {
  padding-right: 0px;
}
.nav_button {
  cursor: pointer;
}
.nav_button:hover {
  color: lightcyan;
}
.nav_button:selected {
  color: deepskyblue;
}
.square {
  height: 100%;
  width: 100%;
  min-width: 1140px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: absolute;
}
.contain {
  width: 920px;
  padding: 30px;
  position: absolute;
  color: white;
  font-size: 13pt;
  line-height: 28pt;
}
.fb-like,
.fb-like iframe {
  height: 35px;
}
.footer {
  display: block;
  position: absolute;
  left: 80px;
  bottom: 0px;
  color: white;
  font-size: 10px;
  line-height: 16px;
  height: 20px;
  width: 920px;
  text-align: center;
  padding: 20px 0px;
}
/*=================================LEFT BAR=================================*/
#sidebar {
  z-index: 5;
}
#sidebar li {
  margin-left: 5px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
  color: white;
}
#sidebar .icon {
  width: 30px;
  height: 30px;
  background-size: contain;
}
.title {
  font-size: 15px;
  line-height: 22px;
}
#about {
  position: absolute;
  top: 12px;
  left: 80px;
  padding-top: 5px;
  width: 350px;
  height: 100px;
  background-color: #FAFAFA;
  color: black;
  font-size: 13px;
  font-family: "Lucida Grande", "Helvetica Neue", Verdana, sans-serif;
  line-height: 19px;
}
#me_icon {
  background-image: url('/images/me.jpg');
}
#fb_icon {
  background-image: url('/images/fb_off.png');
}
#fb_icon:hover {
  background-image: url('/images/fb_on.png');
}
#tw_icon {
  background-image: url('/images/twitter_off.png');
}
#tw_icon:hover {
  background-image: url('/images/twitter_on.png');
}
#in_icon {
  background-image: url('/images/in_off.png');
}
#in_icon:hover {
  background-image: url('/images/in_on.png');
}
#mail_icon {
  background-image: url('/images/mail_off.png');
}
#mail_icon:hover {
  background-image: url('/images/mail_on.png');
}
#git_icon {
  background-image: url('/images/git_off.png');
}
#git_icon:hover {
  background-image: url('/images/git_on.png');
}
/*=====================CONTAINERS and SQUARES===============================*/
#index {
  background-image: url('/images/backgrounds/chicago.jpg');
  z-index: 1;
  top: 0px;
}
#index_c {
  top: 50px;
  left: 280px;
  width: 720px;
}
.rafi {
  min-width: 30px;
  font-weight: bold;
  cursor: pointer;
}
#play {
  background-image: url('/images/backgrounds/bhangra3.jpg');
  display: none;
}
#play_c {
  top: 70px;
  left: 80px;
}
#work {
  background: #dddddd;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #dddddd 0%, #6c86c5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #dddddd), color-stop(100%, #6c86c5));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #dddddd 0%, #6c86c5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #dddddd 0%, #6c86c5 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #dddddd 0%, #6c86c5 100%);
  /* IE10+ */

  background: radial-gradient(center, ellipse cover, #dddddd 0%, #6c86c5 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@start', endColorstr='@stop', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  display: none;
  height: 3890px;
}
#work_c {
  top: 65px;
  left: 80px;
  border: 1pt solid grey;
  background-color: #FAFAFA;
}
#blog {
  background-image: url('/images/italia/back.jpg');
  background-attachment: fixed;
  display: none;
  overflow: scroll;
}
#blog_c {
  top: 70px;
  left: 80px;
  width: 960px;
  border: 1pt solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Droid Sans";
  margin-bottom: 30px;
}
.i-green {
  color: #009246;
}
.i-red {
  color: #ce2b37;
}
.i-white {
  color: #f1f2f1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.75);
}
.top {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.entry {
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px dotted #aaa;
  color: black;
  font-size: 0;
}
.entry:last-child {
  border-bottom: none;
}
.entry h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.entry .title {
  font-style: italic;
  font-weight: normal;
  font-size: 80%;
  color: #333;
}
.entry .left {
  font-size: 14px;
  line-height: 18px;
  width: 40%;
  margin-right: 5%;
  display: inline-block;
}
.entry .right {
  width: 55%;
  display: inline-block;
  vertical-align: top;
}
.entry img {
  max-width: 100%;
  max-height: 500px;
  margin: auto;
  vertical-align: top;
  -webkit-box-shadow: 0px 0px 1px 1px #888888;
  -moz-box-shadow: 0px 0px 1px 1px #888888;
  box-shadow: 0px 0px 1px 1px #888888;
}
.entry p {
  margin-left: 10px;
  text-indent: 10px;
  margin-bottom: 5px;
  text-align: justify;
}
.tall {
  margin-left: 95px;
}
.caption {
  font-size: 12px;
  text-align: center;
}
#translate {
  float: right;
  width: 300px;
  color: black;
}
#translate .btn {
  float: right;
  padding: 5px 15px;
  margin-right: 10px;
}
#to-english {
  background: #13ff84;
  /* Old browsers */

  background: -moz-linear-gradient(top, #13ff84 0%, #00c55e 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #13ff84), color-stop(100%, #00c55e));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #13ff84 0%, #00c55e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #13ff84 0%, #00c55e 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #13ff84 0%, #00c55e 100%);
  /* IE10+ */

  background: linear-gradient(top, #13ff84 0%, #00c55e 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
#to-english:hover {
  background: #45ff9e;
  /* Old browsers */

  background: -moz-linear-gradient(top, #45ff9e 0%, #00df6b 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45ff9e), color-stop(100%, #00df6b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #45ff9e 0%, #00df6b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #45ff9e 0%, #00df6b 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #45ff9e 0%, #00df6b 100%);
  /* IE10+ */

  background: linear-gradient(top, #45ff9e 0%, #00df6b 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

}
#to-english:active {
  background: #00f877;
  /* Old browsers */

  background: -moz-linear-gradient(top, #00f877 0%, #2cff91 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00f877), color-stop(100%, #2cff91));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #00f877 0%, #2cff91 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #00f877 0%, #2cff91 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #00f877 0%, #2cff91 100%);
  /* IE10+ */

  background: linear-gradient(top, #00f877 0%, #2cff91 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

}
#to-italiano {
  background: #e89197;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e89197 0%, #db515b 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e89197), color-stop(100%, #db515b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e89197 0%, #db515b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e89197 0%, #db515b 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e89197 0%, #db515b 100%);
  /* IE10+ */

  background: linear-gradient(top, #e89197 0%, #db515b 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
#to-italiano:hover {
  background: #f1bbbf;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f1bbbf 0%, #df666f 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1bbbf), color-stop(100%, #df666f));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f1bbbf 0%, #df666f 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f1bbbf 0%, #df666f 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f1bbbf 0%, #df666f 100%);
  /* IE10+ */

  background: linear-gradient(top, #f1bbbf 0%, #df666f 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

}
#to-italiano:active {
  background: #e47b83;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e47b83 0%, #eca6ab 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e47b83), color-stop(100%, #eca6ab));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e47b83 0%, #eca6ab 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e47b83 0%, #eca6ab 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e47b83 0%, #eca6ab 100%);
  /* IE10+ */

  background: linear-gradient(top, #e47b83 0%, #eca6ab 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

}
.notice {
  display: none;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  background-color: #DFF0D8;
  border: 1pt solid #D6E9C6;
  color: #468847;
}
/*==================================WORK====================================*/
#work_intro {
  font: 14px "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  padding: 0px 20px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  text-indent: 10px;
  text-align: justify;
  margin-bottom: 20px;
}
#projects {
  margin-bottom: 10px;
}
/* for -2 for borders */
.proj_section {
  border-left: 1pt solid grey;
  display: inline-block;
  width: 264.6666666666667px;
  padding: 0px 20px;
  vertical-align: top;
  line-height: 24px;
}
.proj_section:first-child {
  border-left: 1pt solid transparent;
}
.proj_section:last-child {
  padding-right: 0px;
}
.proj_section h5 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #222;
  text-indent: -10px;
  font-weight: bold;
}
.section {
  display: inline-block;
  width: 264.6666666666667px;
  padding: 0px 20px;
  vertical-align: top;
  color: #333;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;
}
.section li {
  display: block;
}
.big_project {
  cursor: pointer;
  margin-bottom: 20px;
}
.big_project:hover > img {
  -webkit-box-shadow: 0px 0px 2px 1px #555555;
  -moz-box-shadow: 0px 0px 2px 1px #555555;
  box-shadow: 0px 0px 2px 1px #555555;
}
.big_project img {
  width: 264.6666666666667px;
  height: 66.16666666666667px;
}
.big_project p {
  color: black;
  font-size: 90%;
  line-height: 90%;
}
.big_project .small {
  font-size: 80%;
}
.desc {
  color: black;
  height: 380px;
  padding-top: 30px;
  border-top: 1pt solid #777;
}
.desc .left {
  float: left;
  display: inline-block;
  width: 44%;
  text-align: justify;
}
.desc .right {
  float: right;
  display: inline-block;
  width: 50%;
}
.desc a {
  color: crimson;
}
.desc a img:hover {
  -webkit-box-shadow: 0px 0px 2px 1px #555555;
  -moz-box-shadow: 0px 0px 2px 1px #555555;
  box-shadow: 0px 0px 2px 1px #555555;
}
.desc img {
  width: 100%;
  max-height: 350px;
}
.desc p {
  font-size: 14px;
  line-height: 20px;
  text-indent: 10px;
}
.desc.short {
  height: 340px;
}
.desc_title {
  text-align: left;
  margin-top: -12px;
  font-size: 42px;
  line-height: 60px;
  font-weight: bold;
  color: deepskyblue;
}
.desc_role {
  font: 16px "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 10px;
}
/*=========================OLD STUFF ====================*/
/*
/* Hidden div that slides down on project click 
.project_display {
  height: 330px;
  width: 100%;
  color: rgba(0,0,0,0.8);
  display: none;
  border-top: 3pt double rgba(0,0,0,0.6);
  margin-top: 20px;
  padding-top: 5px;
}

.hide_disp {
  position: absolute;
  right: 25px;
  top: 458px;
  font-size: 10px;
  cursor:pointer;
}

.desc_desc{
  font: 12.5px "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  text-align: justify;
  line-height: 20px;
  margin-top: 5px;
}



#site {
  position: absolute;
  //font: 14pt 'Iceland', 'Helvetica Neue Light', sans-serif;
  top: 0px;
  left: 0px;
  padding-left: 10px;
  height: 100%;
  width: 180px;
  color: white;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 1px 0px 1px 0px black;  
  //border-right: 1pt solid rgba(230, 230, 230, 0.2);
}

#nameplate {
  -webkit-transform: rotate(-30deg); 
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  font-size: 52px;
  margin: 15px 0px 15px 10px;
  display: block;
}

#info {
  width: 150px;
  height: 45px;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: white;
}

*/
