/*
For faiazkhan.com, by Faiaz Khan. 
Edited February 16, 2012
*/
/*=============================OVER-ARCHING=================================*/
/* Direction must be in [top, left, -45deg, 45deg] */
@font-face {
  font-family: 'MyMyriad';
  font-style: normal;
  font-weight: 200;
  src: local("MyMyriad"), url(/fonts/myriad/MyriadPro-LightSemiExt.otf) format("opentype");
}
@font-face {
  font-family: 'MyMyriad';
  font-style: normal;
  font-weight: normal;
  src: local("MyMyriad"), url(/fonts/myriad/MyriadPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: 'MyMyriad';
  font-style: normal;
  font-weight: bold;
  src: local("MyMyriad"), url(/fonts/myriad/MyriadPro-Semibold.otf) format("opentype");
}
/* EDIT NUMBER OF PORTFOLIO ITEMS HERE */
html,
body {
  min-height: 100%;
  width: 100%;
}
body {
  font-family: "MyMyriad", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  background-color: black;
  color: white;
  width: 100%;
  min-width: 920px;
  height: 100%;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
li {
  display: inline-block;
}
b {
  font-weight: normal;
}
.crimson {
  color: crimson;
}
.purple {
  color: purple;
}
.hidden {
  display: none;
}
.big {
  font-size: 20px;
  line-height: 30px;
}
.blue {
  color: deepskyblue;
}
div.line {
  height: 0;
  border-bottom: 1pt dashed #aaa;
  margin: 10px 0;
}
#emergency {
  z-index: -20;
  position: fixed;
  color: white;
  top: 300px;
  left: 300px;
}
.icon {
  width: 13px;
  margin-right: 10px;
}
.nav_bar {
  margin-left: 80px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  width: 980px;
}
.nav_bar > a,
.nav_bar > li {
  display: inline-block;
  color: black;
  padding-right: 35px;
  padding-top: 16px;
  margin: 0px;
}
.nav_bar > a:last-child,
.nav_bar > li:last-child {
  padding-right: 0px;
}
.nav_button {
  cursor: pointer;
  -o-transition: all 0.2s ease 0;
  -moz-transition: all 0.2s ease 0;
  -webkit-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
}
.nav_button:hover {
  color: lightcyan;
}
.nav_button.no-shadow {
  text-shadow: none;
}
.square {
  height: 100%;
  width: 100%;
  min-width: 1140px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: absolute;
}
.contain {
  width: 920px;
  padding: 30px;
  position: absolute;
  color: white;
  font-size: 13pt;
  line-height: 28pt;
}
.fb-like,
.fb-like iframe {
  height: 35px;
}
.footer {
  display: block;
  position: absolute;
  left: 80px;
  bottom: 10px;
  color: white;
  font-size: 12px;
  line-height: 18px;
  height: 20px;
  width: 920px;
  text-align: center;
  padding: 20px 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
}
#index {
  background-image: url('/images/backgrounds/chicago.jpg');
  z-index: 1;
  top: 0px;
}
#index_c {
  top: 50px;
  left: 280px;
  width: 720px;
  font-weight: 500;
}
#index_c a:hover {
  text-decoration: none;
}
.rafi {
  color: #FF1919;
  font-family: "Gotham", "Droid Sans";
  font-weight: bold;
  font-size: 22px;
}
/*==================================WORK====================================*/
#work {
  background-color: #ffffff;
  background-image: url(/images/backgrounds/diag.jpg);
  background-repeat: repeat;
  background-size: 58px 58px;
  height: 4330px;
}
#work .nav_bar,
#work .footer,
#work .footer a,
#work #sidebar li {
  color: black;
}
#work .nav_button:hover {
  color: #333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}
#work_c {
  top: 65px;
  left: 80px;
  -webkit-box-shadow: 0 0 5px #777777;
  -moz-box-shadow: 0 0 5px #777777;
  box-shadow: 0 0 5px #777777;
  background-color: #FAFAFA;
}
#work_c h1 {
  color: deepSkyBlue;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
#projects {
  margin-bottom: 10px;
}
.proj_section {
  border-left: 1pt solid #ddd;
  display: inline-block;
  width: 264px;
  padding: 0px 20px;
  vertical-align: top;
  line-height: 24px;
}
.proj_section:first-child {
  border-left: 1pt solid transparent;
}
.proj_section:last-child {
  padding-right: 0px;
}
.proj_section h5 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #222;
  text-shadow: 0 1px 1px #000000;
}
.section {
  display: inline-block;
  width: 264px;
  vertical-align: top;
  color: #333;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}
.section li {
  display: block;
  color: black;
  padding: 2px;
}
.big_project {
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
}
.big_project:hover > img {
  -webkit-box-shadow: 0px 0px 2px 1px #555555;
  -moz-box-shadow: 0px 0px 2px 1px #555555;
  box-shadow: 0px 0px 2px 1px #555555;
}
.big_project img {
  width: 264px;
  height: 66px;
  -o-transition: all 0.2s ease 0;
  -moz-transition: all 0.2s ease 0;
  -webkit-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.big_project p {
  color: black;
  font-size: 90%;
  line-height: 90%;
}
.big_project .small {
  font-size: 80%;
}
.desc {
  color: black;
  height: 380px;
  padding-top: 30px;
  border-top: 1pt solid #777;
  font-weight: normal;
}
.desc .left {
  float: left;
  display: inline-block;
  width: 44%;
  text-align: justify;
}
.desc .right {
  float: right;
  display: inline-block;
  width: 50%;
}
.desc a {
  color: crimson;
}
.desc a img:hover {
  -webkit-box-shadow: 0px 0px 2px 1px #555555;
  -moz-box-shadow: 0px 0px 2px 1px #555555;
  box-shadow: 0px 0px 2px 1px #555555;
}
.desc img {
  width: 100%;
  max-height: 350px;
  -o-transition: all 0.2s ease 0;
  -moz-transition: all 0.2s ease 0;
  -webkit-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.desc p {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-indent: 10px;
}
.desc.short {
  height: 340px;
}
.desc_title {
  text-align: left;
  margin-top: -12px;
  font-size: 42px;
  font-weight: normal;
  line-height: 60px;
  color: deepskyblue;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.desc_role {
  font-size: 16px;
  font-weight: normal;
  padding-left: 10px;
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 10px;
}
/*=================================LEFT BAR=================================*/
#sidebar {
  z-index: 5;
}
#sidebar li {
  margin-left: 5px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
  color: white;
}
#sidebar .sidebar_icon {
  width: 30px;
  height: 30px;
  background-size: contain;
}
#me_icon {
  background-image: url('/images/icons/me.jpg');
}
#fb_icon {
  background-image: url('/images/icons/fb_off.png');
}
#fb_icon:hover {
  background-image: url('/images/icons/fb_on.png');
}
#tw_icon {
  background-image: url('/images/icons/twitter_off.png');
}
#tw_icon:hover {
  background-image: url('/images/icons/twitter_on.png');
}
#in_icon {
  background-image: url('/images/icons/in_off.png');
}
#in_icon:hover {
  background-image: url('/images/icons/in_on.png');
}
#mail_icon {
  background-image: url('/images/icons/mail_off.png');
}
#mail_icon:hover {
  background-image: url('/images/icons/mail_on.png');
}
#git_icon {
  background-image: url('/images/icons/git_off.png');
}
#git_icon:hover {
  background-image: url('/images/icons/git_on.png');
}
#play {
  background-image: url('/images/backgrounds/bhangra.jpg');
}
#play .nav_bar > a,
#play .nav_bar > li {
  color: white;
}
#play_c {
  top: 70px;
  left: 50px;
}
.play_deck {
  background-color: rgba(255, 255, 255, 0.9);
  border: #111;
  width: 160px;
  padding: 20px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
  display: inline-block;
  margin-right: 30px;
}
.play_item {
  display: block;
  padding: 0 10px;
  color: black;
  -o-transition: all 0.2s ease 0;
  -moz-transition: all 0.2s ease 0;
  -webkit-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
  cursor: pointer;
}
.play_item:hover {
  color: #333;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
}
.play_content {
  display: inline-block;
  position: relative;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  vertical-align: top;
  width: 650px;
  height: 550px;
  opacity: 0;
  overflow-y: scroll;
  -o-transition: opacity 0.3s ease 0;
  -moz-transition: opacity 0.3s ease 0;
  -webkit-transition: opacity 0.3s ease 0;
  transition: opacity 0.3s ease 0;
  padding: 20px;
}
.play_content img,
.play_content iframe {
  margin: 15px 0;
  width: 100%;
}
.play_content .half {
  width: 50%;
  margin-left: 25%;
}
.play_content p {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  text-align: justify;
}
.play_content a,
.play_content a:hover {
  color: crimson;
}
.play_content iframe.youtube {
  width: 560px;
  margin-left: 45px;
}
.play_close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 110%;
  color: #555;
  top: 0px;
  right: 11px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#blog {
  background-image: url('/images/italia/back.jpg');
  background-attachment: fixed;
  overflow: scroll;
}
#blog_c {
  top: 70px;
  left: 80px;
  width: 960px;
  border: 1pt solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}
#christina {
  background-image: url('https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/523506_10151099015209612_1494116417_n.jpg');
  background-attachment: fixed;
  display: none;
  overflow: scroll;
}
#christina_c {
  color: black;
  top: 70px;
  left: 80px;
  border: 1pt solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
}
#christina_c a {
  color: #1aa4d6;
}
#christina_c a:hover {
  color: #1481a9;
}
#christina_c iframe {
  display: inline-block;
  width: 460px;
  height: 350px;
}
.column {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  border: 1pt solid #aaa;
}
.column img {
  width: 100%;
  vertical-align: top;
}
.i-green {
  color: #009246;
}
.i-red {
  color: #ce2b37;
}
.i-white {
  color: #f1f2f1;
  text-shadow: 1px 0 2px #000000;
}
.top {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.entry {
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px dotted #aaa;
  color: black;
  font-size: 0;
}
.entry:last-child {
  border-bottom: none;
}
.entry h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.entry .title {
  font-style: italic;
  font-weight: normal;
  font-size: 80%;
  color: #333;
}
.entry .left {
  font-size: 14px;
  line-height: 18px;
  width: 40%;
  margin-right: 5%;
  display: inline-block;
}
.entry .right {
  width: 55%;
  display: inline-block;
  vertical-align: top;
}
.entry img {
  max-width: 100%;
  max-height: 500px;
  margin: auto;
  vertical-align: top;
  -webkit-box-shadow: 0px 0px 1px 1px #888888;
  -moz-box-shadow: 0px 0px 1px 1px #888888;
  box-shadow: 0px 0px 1px 1px #888888;
}
.entry img:hover {
  -webkit-box-shadow: 0px 0px 2px 2px #555555;
  -moz-box-shadow: 0px 0px 2px 2px #555555;
  box-shadow: 0px 0px 2px 2px #555555;
}
.entry p {
  margin-left: 10px;
  text-indent: 10px;
  margin-bottom: 5px;
  text-align: justify;
}
.entry a {
  color: #1aa4d6;
}
.entry a:hover {
  color: #1481a9;
}
.tall {
  margin-left: 95px;
}
.caption {
  font-size: 12px;
  text-align: center;
}
#translate {
  float: right;
  width: 300px;
  color: black;
}
#translate .btn {
  float: right;
  padding: 5px 15px;
  margin-right: 10px;
}
#to-english {
  background: #13ff84;
  /* Old browsers */

  background: -moz-linear-gradient(top, #13ff84 0%, #00c55e 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #13ff84), color-stop(100%, #00c55e));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #13ff84 0%, #00c55e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #13ff84 0%, #00c55e 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #13ff84 0%, #00c55e 100%);
  /* IE10+ */

  background: linear-gradient(top, #13ff84 0%, #00c55e 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
#to-english:hover {
  background: #45ff9e;
  /* Old browsers */

  background: -moz-linear-gradient(top, #45ff9e 0%, #00df6b 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45ff9e), color-stop(100%, #00df6b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #45ff9e 0%, #00df6b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #45ff9e 0%, #00df6b 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #45ff9e 0%, #00df6b 100%);
  /* IE10+ */

  background: linear-gradient(top, #45ff9e 0%, #00df6b 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

}
#to-english:active {
  background: #00f877;
  /* Old browsers */

  background: -moz-linear-gradient(top, #00f877 0%, #2cff91 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00f877), color-stop(100%, #2cff91));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #00f877 0%, #2cff91 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #00f877 0%, #2cff91 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #00f877 0%, #2cff91 100%);
  /* IE10+ */

  background: linear-gradient(top, #00f877 0%, #2cff91 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

}
#to-italiano {
  background: #e89197;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e89197 0%, #db515b 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e89197), color-stop(100%, #db515b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e89197 0%, #db515b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e89197 0%, #db515b 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e89197 0%, #db515b 100%);
  /* IE10+ */

  background: linear-gradient(top, #e89197 0%, #db515b 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
#to-italiano:hover {
  background: #f1bbbf;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f1bbbf 0%, #df666f 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1bbbf), color-stop(100%, #df666f));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f1bbbf 0%, #df666f 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f1bbbf 0%, #df666f 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f1bbbf 0%, #df666f 100%);
  /* IE10+ */

  background: linear-gradient(top, #f1bbbf 0%, #df666f 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

}
#to-italiano:active {
  background: #e47b83;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e47b83 0%, #eca6ab 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e47b83), color-stop(100%, #eca6ab));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e47b83 0%, #eca6ab 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e47b83 0%, #eca6ab 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e47b83 0%, #eca6ab 100%);
  /* IE10+ */

  background: linear-gradient(top, #e47b83 0%, #eca6ab 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cfecfc', endColorstr='#319ff9', GradientType=0);
  /* IE6-9 */

}
.notice {
  display: none;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  background-color: #DFF0D8;
  border: 1pt solid #D6E9C6;
  color: #468847;
}
#academy {
  background-image: url('/images/backgrounds/beach.jpg');
  background-attachment: fixed;
  overflow: scroll;
}
#academy .nav_bar > a,
#academy .nav_bar > li {
  color: white;
}
#academy_c {
  top: 70px;
  left: 80px;
  width: 898px;
  padding: 40px;
  border: 1pt solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  color: black;
}
#academy_c p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: justify;
}
#academy_c p.centered {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}
#academy_c h1.intro {
  text-align: center;
  font-size: 300%;
}
#academy_c span.js-nav {
  color: crimson;
  cursor: pointer;
}
#academy_c span.js-nav:hover {
  text-decoration: underline;
}
#academy_c a,
#academy_c a:hover {
  color: crimson;
}
.acad_section {
  font-size: 0;
}
.acad_section > div {
  display: inline-block;
  vertical-align: top;
}
.acad_section > div:first-child {
  margin-right: 10%;
}
.acad_section > .img {
  width: 30%;
}
.acad_section > .img img {
  width: 100%;
}
.acad_section > .text {
  width: 60%;
}
.acad_showcase {
  font-size: 0;
}
.acad_showcase > .third {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  margin: 0 2%;
}
.acad_showcase > .third img {
  width: 100%;
}
.acad_caption {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 5px;
}
