/*
For faiazkhan.com, by Faiaz Khan. 
Edited February 16, 2012
*/

/*=============================OVER-ARCHING=================================*/

@import "base.less";

@font-face {
  font-family: 'Gotham';
  src: url(/fonts/Gotham-Light.otf) format("opentype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url(/fonts/Gotham-Medium.otf) format("opentype");
}
@min-width: 920px;
@min-height: 600px;
@left: 80px;
@pad: 30px;
@font: 14px;
@big_font: 20px;
@line: 18px;
@link: #1aa4d6;
/* EDIT NUMBER OF PORTFOLIO ITEMS HERE */
@items: 10;
@red: #FF1919;

html, body {
  min-height: 100%;
  width: 100%;
}
body {
  font-family: Gotham;
  font-size: @font;  
  line-height: @line;
  background-color: black;
  color: white;
  width: 100%;
  min-width: @min-width;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration:underline;
  }
}

li {
  display: inline-block;
}

.crimson { color: crimson; }
//.crimson:hover{ color: OrangeRed; }
.purple { color: purple; }
.hidden { display: none; }
.big { font-size: @big_font; line-height: 30px;}
.blue { color: deepskyblue; }
div.line {
  height: 0; 
  border-bottom: 1pt dashed #aaa; 
  margin: 10px 0;
}

#emergency {
  z-index: -20;
  position: fixed;
  color: white;
  top: 300px;
  left: 300px;
}

.nav_bar {
  margin-left: @left;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  width: @min-width + 2* @pad;

  > li {
    padding-right: 50px;
    padding-top: 16px;
    margin: 0px;
    &:last-child {
      padding-right: 0px;
    }
  }

}

.nav_button {
  cursor: pointer;
  .transition(all, 0.2s);
  &:hover {
    color: lightcyan;
  }
  text-shadow: 0 1px rgba(0,0,0,0.25);
  &.no-shadow {
    text-shadow: none;
  }
}

@square_width: @min-width + 2*@pad + 2*@left;
.square {
  height: 100%;
  width: 100%;
  min-width: @square_width;
  min-height: @min-height;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: absolute;
}

.contain {
  width: @min-width;
  padding: @pad;
  position: absolute;
  color: white;
  font-size: 13pt;
  line-height: 28pt;
}

.fb-like, .fb-like iframe { height: 35px; }

.footer {
  display: block;
  position: absolute;
  left: @left;
  bottom: 10px;
  color: white;
  font-size: 12px;
  line-height: 18px;
  height: 20px;
  width: @min-width;
  text-align: center;
  padding: 20px 0px;
  text-shadow: 0 1px rgba(0,0,0,0.25);
}



/*=================================LEFT BAR=================================*/

#sidebar{
  z-index: 5;
  li {
    margin-left: 5px;
    padding-left: 7px;
    font-size: 16px;
    line-height: 22px;
    vertical-align: middle;
    color: white;
  }
  .icon {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
}

#me_icon {
  background-image: url('/images/icons/me.jpg');
}
#fb_icon {
  background-image: url('/images/icons/fb_off.png');
}
#fb_icon:hover {
  background-image: url('/images/icons/fb_on.png');
}
#tw_icon {
  background-image: url('/images/icons/twitter_off.png');
}
#tw_icon:hover {
  background-image: url('/images/icons/twitter_on.png');
}
#in_icon {
  background-image: url('/images/icons/in_off.png');
}
#in_icon:hover {
  background-image: url('/images/icons/in_on.png');
}
#mail_icon {
  background-image: url('/images/icons/mail_off.png');
}
#mail_icon:hover {
  background-image: url('/images/icons/mail_on.png');
}
#git_icon {
  background-image: url('/images/icons/git_off.png');
}
#git_icon:hover {
  background-image: url('/images/icons/git_on.png');
}

/*=====================CONTAINERS and SQUARES===============================*/

#index {
  background-image: url('/images/backgrounds/chicago.jpg');
  //background-image: url('/images/backgrounds/beach.jpg');
  z-index: 1;
  top: 0px;
  //display: none;
}

@ind_offset: 200;

#index_c {
  top: 50px;
  left: @left + @ind_offset;
  width: @min-width - @ind_offset;
}

.rafi {
  color: #FF1919;
  font-weight: bold;
  font-size: @big_font + 2;
  text-shadow: 0 0 1px rgba(255,255,255,0.6);
}

#play {
  background-image: url('/images/backgrounds/bhangra.jpg');
  //background-image: url('/images/backgrounds/beach.jpg');
  display: none;
}
#play_c {
  top: 70px;
  left: @left;
  //background-color: #FAFAFA;
  //border: 1pt solid grey;
}
@blue_color: #fff;
@desc_height: 380px;

#work {
  // .rad-gradient(@blue_color, darken(@blue_color, 20%));
  background-color: @blue_color;
  background-image: url(/images/backgrounds/diag.jpg);
  background-repeat: repeat;
  background-size: 58px 58px;
  // background-size: 397px 322px;
  display: none;
  height: (@desc_height + 2*@pad) * @items - 70;
  .nav_bar, .footer, .footer a, #sidebar li {
    color: black;
  }
  .nav_button:hover {
    color: #333;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  }
}


#work_c {
  top: 65px;
  left: @left;
  .box-shadow(0 0 5px #777);
  background-color: #FAFAFA;

  h1 {
    color: deepSkyBlue;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

  }
}

#blog {
  background-image: url('/images/italia/back.jpg');
  background-attachment: fixed;
  display: none;
  overflow: scroll;
}

#blog_c {
  top: 70px;
  left: @left;
  width: @min-width + 40;
  border: 1pt solid #ccc;
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 30px;

  h1 {
    font-family: "Gotham Bold";
  }
}

#christina {
  background-image: url('https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/523506_10151099015209612_1494116417_n.jpg');
  background-attachment: fixed;
  display: none;
  overflow: scroll;
}

#christina_c {
  color: black;
  top: 70px;
  left: @left;
  border: 1pt solid #ccc;
  background-color: rgba(255,255,255,0.8);
  a {
    color: @link;
    &:hover {
      color: darken(@link, 10%);
    }
  }
  iframe {
    display: inline-block;
    width: 460px;
    height: 350px;
  }
}

.column {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  border: 1pt solid #aaa;

  img {
    width: 100%;
    vertical-align: top;
  }
  
}

@i-green: #009246;
@i-white: #F1F2F1;
@i-red: #CE2B37;
.i-green {
  color: @i-green;
}
.i-red {
  color: @i-red;
}
.i-white {
  color: @i-white;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 1);

}

.top {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 10px;
  padding-bottom: 20px;

}

.entry {
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px dotted #aaa;
  color: black;
  &:last-child {
    border-bottom: none;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .title {
    font-style: italic;
    font-weight: normal;
    font-size: 80%;
    color: #333;
  }

  font-size: 0;

  .left {
    font-size: @font;
    line-height: @line;
    width: 40%;
    margin-right: 5%;
    display: inline-block;
    //vertical-align: middle;
  }
  .right {
    width: 55%;
    display: inline-block;
    vertical-align: top;

  }
  img {
    max-width: 100%;
    max-height: 500px;
    margin: auto;
    vertical-align: top;
    .drop-shadow(0px, 0px, 1px, 1px, #888);
    &:hover {
      .drop-shadow(0px, 0px, 2px, 2px, #555);
    }
  }
  p {
    margin-left: 10px;
    text-indent: 10px;
    margin-bottom: 5px;
    text-align: justify;
  }
  a {
    color: @link;
    &:hover {
      color: darken(@link, 10%);
    }
  }
}

.tall {
  margin-left: 95px;
}
.caption {
  font-size: 12px;
  text-align: center;
}

#translate {
  //margin-top: 20px;
  float: right;
  width: 300px;
  color: black;
  .btn {
    float:right;
    padding: 5px 15px;
    margin-right: 10px;
  }
}
#to-english {
  .btn(lighten(@i-green, 20%));
}
#to-italiano {
  .btn(lighten(@i-red, 20%));
}

.notice {
  display: none;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  background-color: #DFF0D8;
  border: 1pt solid #D6E9C6;
  color: #468847;
}

/*==================================WORK====================================*/

#work_intro {
  font: 14px "Droid Sans", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  padding: 0px 20px;
  color: rgba(0,0,0,0.8);
  line-height: 24px;
  text-indent: 10px;
  text-align: justify;
  margin-bottom: 20px;
}

#projects {
  margin-bottom: 10px;
}

@proj_width: (@min-width - 4*@pad)/3 - 2; /* for -2 for borders */
.proj_section {
  border-left: 1pt solid #ddd;
  display: inline-block;
  width: @proj_width; 
  padding: 0px 20px;
  vertical-align: top;
  line-height: 24px;
  &:first-child {
    border-left: 1pt solid transparent;
  }
  &:last-child {
    padding-right: 0px;
  }

  h5 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #222;
    // text-indent: -10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    //font-weight: bold;
  }

}

.section {
  display: inline-block;
  width: @proj_width; 
  vertical-align: top;
  color:#333;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
  li {
    display: block;
    color: black;
    padding: 2px;
  }
}
.big_project{
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
  &:hover > img {
    .box-shadow(0px 0px 2px 1px #555);
  }
  img {
    width: @proj_width;
    height: @proj_width/4;
    .transition(all, 0.2s);
  }
  p {
    color: black;
    font-size: 90%;
    line-height: 90%;
  }
  .small {
    font-size: 80%;
  }

}
.desc {
  color: black;
  height: @desc_height;
  padding-top: 30px;
  border-top: 1pt solid #777;
  .left {
    float: left;
    display: inline-block;
    width: 44%;
    text-align: justify;
  }
  .right {
    float: right;
    display: inline-block;
    width: 50%;
  }

  a {
    color: crimson;
    img:hover {
      .box-shadow(0px 0px 2px 1px #555);
    }
  }

  img {
    width: 100%;
    max-height: 350px;
    .transition(all, 0.2s);
  }

  p { 
    font-size: 14px;
    line-height: 20px;
    text-indent: 10px;
  }

  &.short {
    height: @desc_height - 40;
  }
}

.desc_title {
  text-align: left;
  margin-top: -12px;
  font-size: 42px;
  line-height: 60px;
  font-weight: bold;
  color: deepskyblue;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.desc_role {
  font-size: 16px;
  font-family: "Gotham Bold";
  padding-left: 10px;
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 10px;
}
