/*
For faiazkhan.com, by Faiaz Khan. 
Edited February 16, 2012
*/

/*=============================OVER-ARCHING=================================*/

@import "base.less";

@min-width: 920px;
@min-height: 600px;
@left: 80px;
@pad: 30px;
@font: 14px;
@line: 18px;
html, body {
  min-height: 100%;
  width: 100%;
}
body {
  font-family: Glegoo;
  font-family: Nixie One;
  font-size: @font;  
  line-height: @line;
  background-color: black;
  color: white;
  width: 100%;
  min-width: @min-width;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration:underline;
  }
}

li {
  display: inline-block;
}

.crimson { color: crimson; }
.crimson:hover{ color: OrangeRed; }
.hidden { display: none; }
.big { font-size: 20px; line-height: 30px;}
.blue { color: deepskyblue; }

#emergency {
  z-index: -20;
  position: fixed;
  color: white;
  top: 300px;
  left: 300px;
}

.nav_bar {
  margin-left: @left;
  color: silver;
  font-size: 16px;
  line-height: 26px;
  width: @min-width + 2* @pad;

  > li {
    padding-right: 50px;
    padding-top: 16px;
    margin: 0px;
    &:last-child {
      padding-right: 0px;
    }
  }

}

.nav_button {
  cursor: pointer;
  &:hover {
    color: lightcyan;
  }
  &:selected {
    color: deepskyblue;
  }
}

@square_width: @min-width + 2*@pad + 2*@left;
.square {
  height: 100%;
  width: 100%;
  min-width: @square_width;
  min-height: @min-height;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: absolute;
}

.contain {
  width: @min-width;
  padding: @pad;
  position: absolute;
  color: white;
  font-size: 13pt;
  line-height: 28pt;
}

.fb-like, .fb-like iframe { height: 35px; }

.footer {
  display: block;
  position: absolute;
  left: @left;
  bottom: 0px;
  color: white;
  font-size: 10px;
  line-height: 16px;
  height: 20px;
  width: @min-width;
  text-align: center;
  padding: 20px 0px;
}



/*=================================LEFT BAR=================================*/

#sidebar{
  z-index: 5;
  li {
    margin-left: 5px;
    padding-left: 7px;
    font-size: 16px;
    line-height: 22px;
    vertical-align: middle;
    color: white;
  }
  .icon {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
}

#me_icon {
  background-image: url('/images/icons/me.jpg');
}
#fb_icon {
  background-image: url('/images/icons/fb_off.png');
}
#fb_icon:hover {
  background-image: url('/images/icons/fb_on.png');
}
#tw_icon {
  background-image: url('/images/icons/twitter_off.png');
}
#tw_icon:hover {
  background-image: url('/images/icons/twitter_on.png');
}
#in_icon {
  background-image: url('/images/icons/in_off.png');
}
#in_icon:hover {
  background-image: url('/images/icons/in_on.png');
}
#mail_icon {
  background-image: url('/images/icons/mail_off.png');
}
#mail_icon:hover {
  background-image: url('/images/icons/mail_on.png');
}
#git_icon {
  background-image: url('/images/icons/git_off.png');
}
#git_icon:hover {
  background-image: url('/images/icons/git_on.png');
}

/*=====================CONTAINERS and SQUARES===============================*/

#index {
  background-image: url('/images/backgrounds/chicago.jpg');
  //background-image: url('/images/backgrounds/beach.jpg');
  z-index: 1;
  top: 0px;
}

@ind_offset: 200;

#index_c {
  top: 50px;
  left: @left + @ind_offset;
  width: @min-width - @ind_offset;
}

.rafi {
  min-width: 30px;
  font-weight: bold;
  cursor: pointer;
}

#play {
  background-image: url('/images/backgrounds/bhangra3.jpg');
  //background-image: url('/images/backgrounds/beach.jpg');
  display: none;
}
#play_c {
  top: 70px;
  left: @left;
  //background-color: #FAFAFA;
  //border: 1pt solid grey;
}
@desc_height: 380px;
#work {
  //background-image: url('/images/backgrounds/back2.jpg');
  .rad-gradient(#DDD, lighten(#6c86c5, 0%));
  display: none;
  height: (@desc_height + 2*@pad) * 9 - 70;
}


#work_c {
  top: 65px;
  left: @left;
  border: 1pt solid grey;
  background-color: #FAFAFA;

  h1 {
    font-family: Droid Sans;
    color: deepSkyBlue;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

  }
}

#blog {
  background-image: url('/images/italia/back.jpg');
  background-attachment: fixed;
  display: none;
  overflow: scroll;
}

#blog_c {
  top: 70px;
  left: @left;
  width: @min-width + 40;
  border: 1pt solid #ccc;
  background-color: rgba(255,255,255,0.8);
  font-family: "Droid Sans";
  margin-bottom: 30px;
}
@i-green: #009246;
@i-white: #F1F2F1;
@i-red: #CE2B37;
.i-green {
  color: @i-green;
}
.i-red {
  color: @i-red;
}
.i-white {
  color: @i-white;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 1);

}

.top {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 10px;
  padding-bottom: 20px;

}

.entry {
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px dotted #aaa;
  color: black;
  &:last-child {
    border-bottom: none;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .title {
    font-style: italic;
    font-weight: normal;
    font-size: 80%;
    color: #333;
  }

  font-size: 0;

  .left {
    font-size: @font;
    line-height: @line;
    width: 40%;
    margin-right: 5%;
    display: inline-block;
    //vertical-align: middle;
  }
  .right {
    width: 55%;
    display: inline-block;
    vertical-align: top;

  }
  img {
    max-width: 100%;
    max-height: 500px;
    margin: auto;
    vertical-align: top;
    .drop-shadow(0px, 0px, 1px, 1px, #888);
    &:hover {
      .drop-shadow(0px, 0px, 2px, 2px, #555);
    }
  }
  p {
    margin-left: 10px;
    text-indent: 10px;
    margin-bottom: 5px;
    text-align: justify;
  }
  @entry-link: #1aa4d6;
  a {
    color: @entry-link;
    &:hover {
      color: darken(@entry-link, 10%);
    }
  }
}

.tall {
  margin-left: 95px;
}
.caption {
  font-size: 12px;
  text-align: center;
}

#translate {
  //margin-top: 20px;
  float: right;
  width: 300px;
  color: black;
  .btn {
    float:right;
    padding: 5px 15px;
    margin-right: 10px;
  }
}
#to-english {
  .btn(lighten(@i-green, 20%));
}
#to-italiano {
  .btn(lighten(@i-red, 20%));
}

.notice {
  display: none;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  background-color: #DFF0D8;
  border: 1pt solid #D6E9C6;
  color: #468847;
}

/*==================================WORK====================================*/

#work_intro {
  font: 14px "Droid Sans", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  padding: 0px 20px;
  color: rgba(0,0,0,0.8);
  line-height: 24px;
  text-indent: 10px;
  text-align: justify;
  margin-bottom: 20px;
}

#projects {
  margin-bottom: 10px;
}

@proj_width: (@min-width - 4*@pad)/3 - 2; /* for -2 for borders */
.proj_section {
  border-left: 1pt solid #ddd;
  display: inline-block;
  width: @proj_width; 
  padding: 0px 20px;
  vertical-align: top;
  line-height: 24px;
  &:first-child {
    border-left: 1pt solid transparent;
  }
  &:last-child {
    padding-right: 0px;
  }

  h5 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #222;
    text-indent: -10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    //font-weight: bold;
  }

}

.section {
  display: inline-block;
  width: @proj_width; 
  padding: 0px 20px;
  vertical-align: top;
  color:#333;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;
  li {
    display: block;
  }
}

.big_project{
  cursor: pointer;
  margin-bottom: 20px;
  &:hover > img {
    .box-shadow(0px 0px 2px 1px #555);
  }
  img {
    width: @proj_width;
    height: @proj_width/4;
    
  }
  p {
    color: black;
    font-size: 90%;
    line-height: 90%;
  }
  .small {
    font-size: 80%;
  }
}
.desc {
  color: black;
  height: @desc_height;
  padding-top: 30px;
  border-top: 1pt solid #777;
  .left {
    font-family: Droid Sans;

    float: left;
    display: inline-block;
    width: 44%;
    text-align: justify;
  }
  .right {
    float: right;
    display: inline-block;
    width: 50%;
  }

  a {
    color: crimson;
    img:hover {
      .box-shadow(0px 0px 2px 1px #555);
    }
  }

  img {
    width: 100%;
    max-height: 350px;
  }

  p { 
    font-size: 14px;
    line-height: 20px;
    text-indent: 10px;
  }

  &.short {
    height: @desc_height - 40;
  }
}

.desc_title {
  font-family: Nixie One;
  text-align: left;
  margin-top: -12px;
  font-size: 42px;
  line-height: 60px;
  font-weight: bold;
  color: deepskyblue;
}
.desc_role {
  font: 16px "Droid Sans", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 10px;
}
/*=========================OLD STUFF ====================*/
/*
/* Hidden div that slides down on project click 
.project_display {
  height: 330px;
  width: 100%;
  color: rgba(0,0,0,0.8);
  display: none;
  border-top: 3pt double rgba(0,0,0,0.6);
  margin-top: 20px;
  padding-top: 5px;
}

.hide_disp {
  position: absolute;
  right: 25px;
  top: 458px;
  font-size: 10px;
  cursor:pointer;
}

.desc_desc{
  font: 12.5px "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  text-align: justify;
  line-height: 20px;
  margin-top: 5px;
}



#site {
  position: absolute;
  //font: 14pt 'Iceland', 'Helvetica Neue Light', sans-serif;
  top: 0px;
  left: 0px;
  padding-left: 10px;
  height: 100%;
  width: 180px;
  color: white;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 1px 0px 1px 0px black;  
  //border-right: 1pt solid rgba(230, 230, 230, 0.2);
}

#nameplate {
  -webkit-transform: rotate(-30deg); 
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  font-size: 52px;
  margin: 15px 0px 15px 10px;
  display: block;
}

#info {
  width: 150px;
  height: 45px;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: white;
}

#about {
  position: absolute;
  top: 12px;
  left: @left;
  padding-top: 5px;
  width: 350px;
  height: 100px;
  background-color: #FAFAFA;
  color: black;
  font-size: 13px;
  font-family: "Lucida Grande", "Helvetica Neue", Verdana, sans-serif;
  line-height: 19px;
}

*/
