@import "variables";

@font-face {
  font-family: "Rafi";
  font-style: normal;
  font-weight: 200;
  src: local("Rafi"),
    url(/fonts/rafi/Rafi-ExtLight.otf) format("opentype");
}

@font-face {
  font-family: "Rafi";
  font-style: normal;
  font-weight: normal;
  src: local("Rafi"),
    url(/fonts/rafi/Rafi-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Rafi";
  font-style: normal;
  font-weight: bold;
  src: local("Rafi"),
    url(/fonts/rafi/Rafi-Bold.otf) format("opentype");
}

* {
  @include border-box;
}

html, body {
  min-height: 100%;
  width: 100%;
}
body {
  font-family: $sans;
  font-weight: 200;
  font-size: 14px;
  line-height: $line;
  background-color: black;
  color: white;
  width: 100%;
  min-width: $large-min-width;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration:underline;
  }
}

li {
  display: inline-block;
}

b {
  font-weight: bold;
}

.crimson { color: crimson; }
//.crimson:hover{ color: OrangeRed; }
.purple { color: purple; }
.big { font-size: $big-font; line-height: 1.5;}
.blue { color: deepskyblue; }
.full-width {
  @include desktop {
    width: $large-min-width + 2*$pad;
  }
  @include mobile {
    width: 95%;
    margin-top: 10px;
  }
}

#fancybox-overlay {
  position: fixed; // Fancybox fix.
}

div.line {
  height: 0;
  border-bottom: 1pt dashed #aaa;
  margin: 10px 0;
}


.nav_bar {
  @include mobile {
    display: none;
  }
  width: $large-min-width + 2* $pad;
  margin: 25px auto 30px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  .nav-item {
    display: inline-block;
    height: 100%;
    color: black;
    padding-right: 25px;
    margin: 0px;
  }
}

.nav_button {
  cursor: pointer;
  @include transition(all, 0.2s);
  &:hover {
    color: lightcyan;
  }
  text-shadow: 0 1px rgba(black ,0.25);
  &.no-shadow {
    text-shadow: none;
  }
}

.icon {
  width: 13px;
  margin-right: 10px;
}

.square {
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: absolute;
}

.contain {
  margin: 0 auto;
  color: white;
  font-size: 13pt;
  line-height: 28pt;
}

.fb-like, .fb-like iframe { height: 35px; }

.footer {
  @extend .full-width;
  display: block;
  color: white;
  font-size: 10px;
  line-height: 17px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  text-shadow: 0 1px rgba(black,0.25);
}

@import "index";
@import "work";
@import "play";
/*
@import "blog";
@import "academy";
*/
