/*==================================WORK====================================*/

$desc-height: 400px;

#work {
  background-image: url(/images/backgrounds/diag.jpg);
  background-repeat: repeat;
  background-size: 58px 58px;
  height: auto;
  .nav_item, .footer, .footer a {
    color: black;
  }
  @include desktop {
    .nav_button:hover {
      color: #333;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    }
  }
}

#work_c {
  @include desktop {
    width: $large-min-width + 2*$pad;
  }
  @include mobile {
    width: 95%;
    margin-top: 10px;
  }
  padding: 0;
}

#work_container {
  box-shadow: 0 0 5px #777;
  background-color: #FAFAFA;
  h1 {
    color: deepSkyBlue;
    text-shadow: 0 1px 1px rgba(black, 0.25);
    @include phone {
      font-size: 170%;
      font-weight: 500;
      text-align: center;
    }
  }
  padding: $pad;
  @include mobile {
    padding: 10px 20px;
  }
}

#projects {
  margin-bottom: 10px;
}

.proj_section {
  display: inline-block;
  width: 33%;
  padding: 20px;
  border-left: 1pt solid #ddd;
  @include phone {
    width: 100%;
    padding: 20px;
    border-left: none;
  }
  vertical-align: top;
  line-height: 24px;
  &:first-child {
    border-left: 1pt solid transparent;
  }
  &:last-child {
    padding-right: 0px;
  }

  h5 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #222;
    text-shadow: 0 1px 1px #555;
    @include phone {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.section {
  @include phone {
    display: none;
  }
  display: inline-block;
  width: 100%;
  @include desktop {
    padding: 0 20px;
  }
  vertical-align: top;
  color:#333;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}

.token {
  display: block;
  color: black;
  padding: 2px;
  &.highlight {
    color: "#0099CC";
    text-decoration: underline;
  }
  @include transition(color 0.2s);
}

.big_project{
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
  @include desktop {
    &:hover > img {
      box-shadow: 0px 0px 2px 1px #555;
    }
  }
  img {
    width: 100%;
    height: 20%;
    @include transition(all, 0.2s);
    &.bordered {
      border: 1px solid #ddd;
    }
  }
  p {
    color: black;
    font-size: 90%;
    line-height: 90%;
  }
  .small {
    font-size: 80%;
  }
  @include mobile {
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

}
.desc {
  color: black;
  padding-top: 50px;
  padding-bottom: 30px;
  border-top: 1pt solid #999;
  font-weight: normal;
  font-size: 0;
  .left {
    display: inline-block;
    width: 44%;
    margin-right: 6%;
    text-align: justify;
    @include phone {
      width: 100%; 
      margin: 0;
    }
  }
  .right {
    vertical-align: top;
    display: inline-block;
    width: 50%;
     @include phone {
      width: 100%; 
    }
  }

  a {
    color: crimson;
    @include desktop {
      img:hover {
        box-shadow: 0px 0px 2px 1px #555;
      }
    }
  }

  img {
    width: 100%;
    max-height: 350px;
    @include transition(all, 0.2s);
  }

  p { 
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-indent: 10px;
  }
}

.desc_title {
  text-align: left;
  margin-top: -12px;
  font-size: 42px;
  font-weight: normal;
  line-height: 60px;
  color: deepskyblue;
  text-shadow: 0 1px 1px rgba(black, 0.25);
}

.desc_role {
  font-size: 16px;
  font-weight: normal;
  padding-left: 10px;
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 10px;
}

/*=================================LEFT BAR=================================*/

#work_links{
  float: right;
  z-index: 5;
  li {
    margin-left: 5px;
    padding-left: 7px;
    font-size: 16px;
    line-height: 22px;
    vertical-align: middle;
    color: black;
  }
  .sidebar_icon {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
}

#me_icon {
  background-image: url(/images/icons/me.jpg);
}
#fb_icon {
  background-image: url(/images/icons/fb_off.png);
}
#fb_icon:hover {
  background-image: url(/images/icons/fb_on.png);
}
#tw_icon {
  background-image: url(/images/icons/twitter_off.png);
}
#tw_icon:hover {
  background-image: url(/images/icons/twitter_on.png);
}
#in_icon {
  background-image: url(/images/icons/in_off.png);
}
#in_icon:hover {
  background-image: url(/images/icons/in_on.png);
}
#mail_icon {
  background-image: url(/images/icons/mail_off.png);
}
#mail_icon:hover {
  background-image: url(/images/icons/mail_on.png);
}
#git_icon {
  background-image: url(/images/icons/git_off.png);
}
#git_icon:hover {
  background-image: url(/images/icons/git_on.png);
}
