a(name="avishary")
.desc.short(name="avishary").no-phone
  .left
    .desc_title Avishary
    .desc_role Hackathon at NYU (HackNY)
      br/
      span(style="font-size: 15px;") March 25, 2011
    p During a 24-hour coding spree, my buddy 
      a(href="//twitter.com/#!/akshay_nathan", target='_blank') Akshay
      |  and I came up with a fun way to share edited pictures, right as you browse the web. 
      a(href="//avishary.nodejitsu.com", target='_blank') Avishary
      |  is a bookmarklet that allows you edit any image on the web with 
      a(href="//aviary.com", target='_blank') Aviary
      |, then share it to Facebook, Tumblr or Twitter immediately, or download it for your saving pleasure. 
  .right
    a(href="//avishary.nodejitsu.com", target='_blank')
      img(src='/images/portfolio/avishary_ss.png')
