.desc(name="colors")
  .left
    .desc_title Seeing Colors
    .desc_role Department of Psychology, University of Chicago
      br/ 
      span(style="font-size: 15px;") June - August 2010
    p Explored whether humans have inherent cognitive biases in color-naming despite differences in native language. Hypothesizing that they do tend to name colors similarly, I envisioned and programmed an interactive computer animation, recruited test subjects 3 and 4 years of age and conducted the self-designed experiment. The results showed a difference in the ability to distinguish colors within certain groups, which supported the hypothesis.
    p Group Leader: 
      a(href='http://psychology.uchicago.edu/people/faculty/slevine.shtml', target='_blank') Dr. Susan Levine
      |. With the 
      a(href='http://www.ucls.uchicago.edu/schools/high-school/summerlink/index.aspx', target='_blank') SummerLink 
      | program at the University of Chicago Laboratory High School (U-High!)
  .right
    img(src='/images/portfolio/psych_ss.jpg')
