a(name="gakko")
.desc(name="gakko")
  .left
    .desc_title GAKKO
    .desc_role Board member and Tech Director
      br/ 
      span(style="font-size: 15px;") March 2012 - present
    p GAKKO (
      a(href="//gakkoproject.com", target="_blank") gakkoproject.com
      | ) is an annual summer camp held in Japan that questions traditional 
      | approaches and reasons for learning. Frustrated by the obsession 
      | with exams and memorization in modern education, GAKKO brings 
      | together high schoolers, college students and professional artists and 
      | entrepreneurs from around the world, prodding them to think creatively and globally. 
    p I joined as Tech Director last year, advancing our educational goals, 
      | shaping direction for expansion, and managing GAKKO’s website and Internet presence. 
      | Our website runs on Angular.js, backed by Ruby on Rails.
    p You can see much more at 
      a(href="//gakkoproject.com", target="_blank") gakkoproject.com
      |  or find us on 
      a(href="https://www.facebook.com/GAKKOPROJECT ", target="_blank") Facebook
      | .
  .right
    img(src="/images/portfolio/gakko_ss.png", style="margin-top: 40px;")
