a(name="gakko")
.desc(name="gakko")
  .left
    .desc_title GAKKO
    .desc_role Web Director
    p At 
      a(href="//gakko2013.com", target="_blank") GAKKO 
      | , we’re striving to craft a global education network that 
      | unites the most creative minds in technology, art and education. 
      | We envision a world where learning is a process of creation and 
      | discovery—not of memorization and test-taking, and that with a 
      | population of 7 billion people, there are 7 billion students and 
      | 7 billion teachers. 
    p On the ground, GAKKO organizes summer camps in any country where 
      | people want to learn, with the eventual goal of designing and 
      | building schools all over the world. As a starting point, will 
      | GAKKO make weeklong summer retreats in Naoshima, Japan, to 
      | build a “school” in a completely different form: no buildings, 
      | or transcripts, but instead relaxed, collaborative discovering 
      | environment. 
    p You can read much more at 
      a(href="//gakko2013.com", target="_blank") gakko2013.com
      |  or find us on 
      a(href="https://www.facebook.com/GAKKOPROJECT ", target="_blank") Facebook
      | .
  .right
    img(src="/images/portfolio/gakko_ss.png", style="margin-top: 40px;")
