.desc(name="galaxy")
  .left
    .desc_title Galaxy Tools
    .desc_role Computational Institute, University of Chicago
      br/ 
      span(style="font-size: 15px;") May - August 2011
    p Designed and implemented tools for Galaxy (an open, web-based platform for data intensive biomedical research) and GEDI (a gene database). Written in Python and R, the tools identified statistically significant differences in massive sets of microarray data to pinpoint which genes may contain mutations. The next step would be to cross check those genes against related ones in GEDI, identifying precisely which pathways a particular mutation influenced.
    p Group Leader: 
      a(href='http://www.mcs.anl.gov/~madduri/', target='_blank') Ravi Madduri 
      |. Also check out 
      a(href='http://main.g2.bx.psu.edu/') Galaxy 
      | and 
      a(href='http://www.childrenshospital.org/research/ingber/GEDI/gedihome.htm', target='_blank') GEDI
      |.
  .right
    img(src='/images/portfolio/galaxy_ss.png')
