a(name="go")
.desc(name="go")
  .left
    .desc_title Yale Go
    .desc_role Runner Up, Yale College Council App Challenge 2013
    p Event dicovery, publicity and tracking at Yale isn't what it could be. 
      | The Events Calendar is simply a list of events; 
      | groups publicize events mainly through flyers, word of mouth and
      | email blasts to the entire school; each student receives dozens of 
      | unwanted Facebook event invites. My friend 
      a(href="https://github.com/pfletch1023", target="_blank") Paul
      |  and I thought things could be done better. The result was Yale Go:
      | a system that allows each organization to have its own calendar
      | and group (backed by Yale's copy of the  Google App Engine),
      | and students to follow organizations or categories of interest.
    p The site plans to revamp how events and organizations are managed
      | at Yale, and is set to launch Fall 2013.
  .right
    img(src='/images/portfolio/go_ss.png')
