a(name="google")
.desc(name="google")
  .left
    .desc_title Crisis Map
    .desc_role Software Engineering Intern at Google.org
      br/ 
      span(style="font-size: 15px;") May - July 2013
    p At Google, I developed for the Crisis Map (
      a(href='http://google.org/crisismap', target="_blank") google.org/crisismap
      | ), an open-sourced web application that allows anyone to aggregate, 
      | organize and publish disaster-related geo data. Working in Javascript 
      | and Python, with the Google Closure Library, Django and Google Apps 
      | Engine, I added functionality and UI to search map content, improved 
      | Crisis Map’s web discoverability, and wrote public Maps API methods to 
      | allow for more fine-grained manipulation of KML geo data.
  .right
    a(href='http://google.org/crisismap', target="_blank")
      img(src="/images/portfolio/google_ss.png", style="margin-top: 20px;")
