.desc(name="hackyale")
  .left
    .desc_title HackYale
    .desc_role Front-end Development and Design Instructor
      br/ 
      span(style="font-size: 15px;") June 2012 - present
    p 
      a(href="//hackyale.com", target='_blank') HackYale
      |  is a student collaborative designed to meet an increasing 
      | demand for Computer Science knowledge at Yale. 
      | Founded in Fall 2011, HackYale saw more than 600 
      | applications—about 10% of the student body—throughout the year.

    p I taught the first ever summer-session, which was the Spring 
      | semester HTML/CSS/jQuery course presented in 10 intense days 
      | of coding and creating. Though it was an intro class, 
      | students came up with some pretty cool stuff, some of which 
      | are the official pages of some campus organizations!
  .right
    a(href="//hackyale.com", target='_blank')
      img(src='/images/portfolio/hackyale_ss.png')
