.desc(name="hadoodle")
  .left
    .desc_title Hadoodle
    .desc_role Final Project, Database Systems, Spring 2013
    p As the world acquires more (1000s) and larger (gigabit) images, 
      | three other Yalies and I felt there should be an open source,
      | parallelized way to manipulate them at scale, without having to 
      | fall back on the proprietary industry standard, MatLab.
    p So we built Hadoodle, an image processing extension for Hive 
      | built for Hadoop and the MapReduce framework. 
      | It takes advantage of the "embarassingly parallel" 
      | nature of image processing to convolve, flip, threshold 
      | and otherwise manipulate large collections of large images,
      | and comes with all the benefits of running MapReduce.
    p Currently the code is still closed-source, but will be made open soon!
  .right
    img(src='/images/portfolio/hadoodle_ss.png')
