a(name="jashan")
.desc.short(name="jashan")
  .left
    .desc_title Yale Jashan Bhangra
    .desc_role Spring 2012
    p Nothing brings me greater pleasure than designing the website of my own team, 
      a(href="//yale.edu/bhangra", target='_blank') Yale Jashan Bhangra
      |. Unlike Maitri, this site is loaded with pictures, video and music. Check us out, and if you're a Yalie, try out!
  .right
    a(href="//yale.edu/bhangra", target='_blank')
      img(src='/images/portfolio/jashan_ss.png')
