a(name="maitri")
.desc(name="maitri")
  .left
    .desc_title Maitri Massage
    .desc_role April 2012
    p My first foray into web development for clients, this is the main website for 
      a(href="//maitrimassagelmt.com", target='_blank') Maitri Massage Lmt
      |, a small massage therapy studio run by 
      a(href="//hannahproch.com", target='_blank') Hannah Proch. 
    p My first time extensively using Less.css—made quite a difference. Visit the site to see it in action! 
    p Death to Internet Explorer!
  .right
    a(href="//maitrimassagelmt.com", target='_blank')
      img(src='/images/portfolio/maitri_ss.png')
