.desc(name="ontapp")
  .left
    .desc_title onTapp, LLC
    .desc_role Co-founder 
      br/ 
      span(style="font-size: 15px;") September 2011 - March 2012
    p onTapp was a web application designed to facilitate ordering from restaurants online. Leveraging customized deals, networks and a scoring system, onTapp makes food-ordering more social and, well, more fun! The site’s back-end was originally written in Apache, PHP and MySQL, but switched early on to Node.js with Express, Jade and MongoDB. Server-side code was written in jQuery.
    p Though a fantastic learning experience developing my own company and product, the project turned out not to be something we wanted to pursue as a serious business. 
  .right
    //- a(href='http://www.yaleontapp.com', target='_blank')
    img(src='/images/portfolio/ontapp_ss.png')
