a(name="processing")
.desc(name="processing")
  .left
    .desc_title The 'Schedulizer'
    .desc_role For May Project 2011, University High School
    p Designed to investigate how to satisfy the most high school course requests for the 2011-2012 school year, taking into account the constraints on the number of class periods, classrooms and teachers, by creating a visualization of the problem. The app also runs a graph-traversal algorithm to try to minimize the number of class periods needed to satisfy all the requests. It turns out that if everyone got every class they wanted, about 130 periods would be needed!
    p &nbsp;&nbsp;Also just a fun app to play with—unfortunately not online yet. Made on the visualization engine 
      a(href='http://www.processing.org', target='_blank') Processing
      |, written completely in Java.
  .right
    img(src='/images/portfolio/process_ss.png')
