a(name="screw")
.desc(name="screw")
  .left
    .desc_title Screw Me Yale
    .desc_role 3rd place, Yale College Council App Challenge 2012
    p This isn't entirely what it sounds like—'Screws' at Yale 
      | are dances where your roommate gets to choose your date. 
      | While some rejoice in the opportunity to play cupid, 
      | others find it a hassle. For them, there's 
      a(href="//screwmeyale.com", target='_blank') Screw Me Yale
      | , a playful matchmaker and my first full-scale app in Rails. 
    p The app launched to the Yale undergraduate population in October 2012, 
      | drawing more than 1000 page views in its first 24 hours live. 
      | In the first semester alone, more than 10% of students logged 
      | on to screw over 500 of their friends!
    p The 
      a(href="//ycc.yale.edu", target='_blank') Yale College Council
      |  was kind enough to give it 
      a(href="http://www.yaledailynews.com/news/2012/apr/19/cross-campus-41912/", target='_blank') 3rd place
      |  in Yale's 2012 App Challenge. SMY is built on a 
      | very traditional stack of Rails, Heroku and Git. 
    p If you're not Yale affiliated, there's still hope. I've put up a demo site, 
      a(href="//demo.screwmeyale.com", target='_blank') Screw Me Politics
      | , so you can join in on the screwing pleasure!
  .right
    a(href="//screwmeyale.com", target='_blank')
      img(src='/images/portfolio/screw_ss.png')
