a(name="sweets")
.desc(name="sweets")
  .left
    .desc_title Sweets Surrendered
    .desc_role Graphic Design Final Project, Spring 2013
    p One could argue that art is the categorization of an object
      | or idea in a way that has never been done before. I took
      | a small step toward that ideal when I began collecting candy—
      | more specifically, melted cross-sections of candy—in the Spring
      | of 2013. The melting/mashing/crushing processes brought out
      | a side of candy most never see.
    p This collection plays on the strangeness of mutilating such  
      | sweet and delicious objects. The full catalog of images—
      | over 60 in total—is not online yet, but will be as soon as
      | I get a free minute!
  .right
    img(src='/images/portfolio/sweets_ss.png')
