/* Global Variables */

/* Colors */
$brown: #513E37;
$blue: #0081BB;
$about-blue: #004D68;
$red: #FF1919;
// $red: #802025;
$grey: #35383B;

/* Fonts */
$sans: "MyMyriad", "Open Sans", "Helvetica Neue", sans-serif;
$serif: Quattrocento, times, serif;

/* Layouts */
$min-height: 600px;
$small-min-width: 780px;
$small-container-width: 700px;
$large-min-width: 920px;
$large-container-width: 800px;
$left: 80px;
$pad: 30px;
$mobile-pad: 20px;
$big-font: 28px;
$line: 18px;
$link: #1aa4d6;
/* EDIT NUMBER OF PORTFOLIO ITEMS HERE */
$items: 14;

$phone-width: 480px;
$tablet-width: 768px;
$small-desktop-width: 1200px;

@mixin phone {
  @media screen and (max-width: $phone-width) { @content; }
}
@mixin tablet {
  @media screen and (min-width: ($phone-width + 1)) and (max-width: $tablet-width) { @content; }
}
@mixin mobile {
  @media screen and (max-width: $tablet-width) { @content; }
}
@mixin desktop {
  @media screen and (min-width: ($tablet-width + 1)) { @content; }
}
@mixin small-desktop {
  @media screen and (min-width: ($tablet-width + 1)) and (max-width: $small-desktop-width) { @content; }
}
@mixin large-desktop {
  @media screen and (min-width: ($small-desktop-width + 1)) { @content; }
}
@mixin screen($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) { @content; }
}

@mixin opacity($o) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$o})";
  -moz-opacity: $o;
  -khtml-opacity: $o;
  opacity: $o;
  // filter: alpha(opacity=$o);
}

.hidden { opacity: 0; }
.hide { display: none; }
.full-size { height:100%; width:100%; }
.bold {
  font-weight: bold;
}
.gainlayout {
  zoom: 1; // IE hasLayout hack (http://www.satzansatz.de/cssd/onhavinglayout.html)
}
.no-phone {
  @include phone { display: none; }
}
.no-tablet {
  @include tablet { display: none; }
}
.no-desktop {
  @include desktop { display: none; }
}
