//- #info.link
  //- #info_cont Sights set on creative design, serious gaming
br/
.link.title(target='bows', style='color:gold') Platforms
#bows.link
  .i(target='Express, Jade, Redis, Mongoose, MongoDB') Node.js
  .i(target='Gotta know it') Apache
  .i(target='Fluid and easy visualizations in Java')
    a(href='http://www.processing.org', target='_blank', style='color: navajowhite') Processing
  .i(target='Message Passing Interface (for C)')
    a(href='http://www.mcs.anl.gov/research/projects/mpi/', target='_blank', style='color: navajowhite') MPI
.link.title(target='arrows', style='color:limegreen') Lingo
#arrows.link
  .i(target="This site's backbone") jQuery/JS
  .i(target="Working on that C++...") C
  .i(target="&#060;body style=<br/> &nbsp;&nbsp;'position: fixed'>") HTML/CSS
  .i(target='To improve the Galaxy!') 
    a(href="http://main.g2.bx.psu.edu/", style="color: navajowhite") Python
  .i(target='My first \'Hello World!\\n\'') Java
  .i(target='$ \\lim_{u\\to c} <br/>&nbsp;&nbsp;&nbsp;\\int e^x = 0 $') LaTeX
  .i(target='Statistically, the best') R
  .i(target='InDesign, Photoshop. Thanks Wayne Brasler!') Adobe
  .i(target='The iWorks.') Microsoft